[2022-07-17 15:29] MatthewFlamm commented on #1507
My proposal is that we stick to list like implementation whenever possible, so raise `IndexError`.

Makes sense to me.

I like this too.  It is a nice sugar on top.

I like this better than the current API too. We could also consider allowing a dict to be passed in, since it would align with the secondary API usage.

[2022-07-17 16:22] tkoyama010 opened #3012 "Add gif images to show widgets"
### Describe what maintenance you would like added.

Add gif images to show widgets as I did in pyvista-tutorial.

### Links to source code.

See https://github.com/pyvista/pyvista-tutorial/pull/79

### Pseudocode or Screenshots

None

[2022-07-17 16:26] #1625 closed

[2022-07-17 21:19] tkoyama010 opened #3017 "Feature to show the Color object in color bar"
### Describe the feature you would like to be added.

I want the feature to show the Color object in color bar.
[code]
![image](https://user-images.githubusercontent.com/7513610/179425013-92346d1a-2266-487b-9f45-a265be102e4b.png)

_Originally posted by @tkoyama010 in https://github.com/pyvista/pyvista/pull/3013#discussion_r922896547_

### Links to VTK Documentation, Examples, or Class Definitions.

[2022-07-17 21:57] tkoyama010 opened #3018 "Add binder button to each sphinx-gallery"
### Describe what maintenance you would like added.

Add a binder button to each sphinx-gallery.
See https://sphinx-gallery.github.io/stable/configuration.html#generate-binder-links-for-gallery-notebooks-experimental

### Links to source code.

See https://github.com/pyvista/pyvista-tutorial/pull/48

### Pseudocode or Screenshots

| main | This PR |
| ------------- | ------------- |
| ![image](htt

[2022-07-18 00:13] tkoyama010 commented on #3017
I think we can use this way.
https://github.com/matplotlib/matplotlib/pull/17888

[2022-07-18 03:43] akaszynski commented on #2529
Would you mind submitting a basic PR with these changes? Don't worry about testing or quality, but if you get it at least in a draft I can take a look.

[2022-07-18 12:25] solarjoe opened #3027 "Point picking behaves incorrectly with multiple actors in the same plotter"
### Describe the bug, what's wrong, and what you expected.

Point picking does not pick the expected point if there are multiple actors (e.g. `add_points()`) present in the same plotter.
The points used for the red and blue points are a subset of the white ones (Numpy copy).

If I click position 1 the correct point is picked:
![grafik](https://user-images.githubusercontent.com/10460113/179509480-b

[2022-07-18 16:49] solarjoe commented on #3027
Is this due to a too shallow Octree or the like?
And is there a workaround for this?
Originally I was planning to use this to highlight the cross sections in x and y in a point cloud.

Maybe I can draw just a line to indicate the location of the cross sections.

[2022-07-18 17:58] #3009 closed

[2022-07-19 08:45] solarjoe commented on #3027
Hm, adding a line to indicate the cross sections does not solve the problem, it seems like it makes it even worse.
Probably because it in the end is a `PolyData` object with is also pickable.

[2022-07-19 15:37] MatthewFlamm commented on #1507
A list of 'features' of the current API that are surprising if the expected behavior is either list-like or dict-like, without trying to provide a value judgement on them.  I will propose a clean up and removal of a lot of these features in a PR, and I want to track them for discussion purposes.

- `multi[-1] = data`  # appends data
- `multi = MultiBlock(); multi[5] = data`  # sets length with an

[2022-07-19 15:44] MatthewFlamm commented on #1507
You are right, I'm focusing first on `__setitem__`/`__getitem__` in this list.  I wanted to start writing down the current behavior in one place.  Feel free to add directly to my list or start a new list for other behaviors.

[2022-07-19 18:48] MatthewFlamm opened #3032 "Better handle breaking changes in PRs and Release Notes"
It would be nice to have a Breaking Changes section by default in the PR template.  We can have instructions to delete if not needed.  The instructions could also suggest PR authors to provide examples of changing syntax, if appropriate.

If we can label the PRs that contain breaking changes (can this be done automatically?), then we can sort them in the release notes under the first heading as th

[2022-07-19 18:49] MatthewFlamm commented on #3032
cc @tkoyama010 for your awareness.  You have been handling a lot of CI tasks related to labeling and release notes, so you may have some good thoughts here.

[2022-07-20 07:35] T4mmi opened #3034 "Set proper file names with MultiBlock VTM writer"
### Describe the feature you would like to be added.

Hi there, would it be possible to set the names of blocks according to their individual names instead of the `VTM` filename_index ?

*e.g.*
[code]
should produce:
[code]
instead of:
[code]

### Links to VTK Documentation, Examples, or Class Definitions.

I dunno if I should amend this file here:
[def save(self, filename: str, binary=True, textu

[2022-07-20 07:36] T4mmi commented on #3034
Actually the default behavior could run in case the name is empty ...

[2022-07-20 13:22] tkoyama010 commented on #3032
When adding a breaking change, I don't think it can be labeled automatically like other labeling. It is possible that the test file could be determined by the changes made, but then labeling would be done for all feature additions as well. I think a practical solution would be to label PRs for changes that break into the Contribution Guide.
Adding a section to the release notes is +100 :)

[2022-07-20 15:12] tkoyama010 commented on #3032
Alternatively, a new rule for branch names allows for automatic labeling.

[2022-07-20 20:01] MatthewFlamm commented on #3032
It sounds very difficult to automate.  I would suggest that we start small and add a Breaking Change section to the suggested PR description fields, start using the `breaking-change` label, and adding this to the release labeler.

[2022-07-20 20:40] MatthewFlamm commented on #3034
If `vtkXMLMultiBlockDataWriter` supports setting the individual file names, I think it could be done.
 But from https://vtk.org/doc/nightly/html/classvtkXMLMultiBlockDataWriter.html I don't see any options available to customize this.

In the code it looks to me that the file name is set here, and it uses the index only.
https://github.com/Kitware/VTK/blob/9f5226e0bbf222c621b96cd5cda5128fc3342a95/

[2022-07-21 20:05] akaszynski opened #3041 "Add leafmap to external examples"
https://github.com/giswqs/leafmap

Inspired by https://github.com/pyvista/pyvista-xarray/issues/34#issue-1313712722

[2022-07-21 20:52] adeak commented on #3032
+1 for some transparency and discoverability of breaking changes. Arguably we'd even need more "release notes" than what's generated now, e.g. put somewhere on docs.pyvista.org. But that would be a lot of additional maintenance burden.

I'd much prefer using labels over branches. Branch names can easily be wrong, scopes often change during development, and in any case a single PR might fit `feat/`

[2022-07-21 21:04] MatthewFlamm commented on #3032
Number 1 should already be part of the authoring and review process.  I'm suggesting that _if_ we note it, to include a breaking change section (it doesn't have to be lengthy if not a complicated breaking change), and to add a label.

We aren't at a stable version, but helping users transition through breaking changes is still important.

[2022-07-21 21:19] FCalderon3006 commented on #2311
@banesullivan Hi, Was you able to solve the issue of scalar no longer supported ? to represent the boreholes with scalar data ("Geology"). Thank you in advance.

[2022-07-21 22:51] akaszynski commented on #2311
This works:

[code]

![tmp](https://user-images.githubusercontent.com/11981631/180327950-4bbc870f-7289-47de-b219-329bcc6b74b0.png)

So does this:
[code]

[2022-07-21 22:52] akaszynski commented on #3032
Fully agree there. That way we can look up what changed in the notes of the PR when running through the blame in GitHub.

[2022-07-22 02:47] banesullivan opened #3045 "enable themes to set themselves"
### Describe the feature you would like to be added.

We should make the theme classes callable in some way to make it easier to set a theme with tab-completion.

Right now, setting a theme looks like:

[code]

or even:

[code]
but what if instead, it was like this:

[code]
 working out the instance method and class method might be fun, but all of this should be doable.

### Links to VTK Documenta

[2022-07-22 22:17] #3032 closed

[2022-07-23 00:39] akaszynski opened #3050 "Clarify and rename _first_time in Plotter"
I have a slightly better idea of what `_first_time` represents, but it isn't crystal clear to me still.  The comment

https://github.com/pyvista/pyvista/blob/d3e01eecb4622ecb57ad6e6c560955a6a2c69461/pyvista/plotting/plotting.py#L245-L246

indicates it is about the camera. Based on this PR and some minor digging, I think it has more to do with the first render than the camera.  I would think this v

[2022-07-23 01:12] akaszynski opened #3051 "Add gmshmodel to external examples"
This was a cool find:
https://gmshmodel.readthedocs.io/en/latest/index.html

![image](https://user-images.githubusercontent.com/11981631/180584685-19d821b0-26c5-44fa-b7eb-fabdf6b5d493.png)

[2022-07-23 14:14] akaszynski opened #3054 "Flaky test tracker."
This issue simply tracks flaky tests. If we see repeated failures here we can potentially skip by OS.

#### Windows 3.10 segfaulted on `test_clip_by_scalars_filter`
[code]

[2022-07-23 20:34] akaszynski opened #3057 "Complex metadata is lost when saving complex arrays"
Complex metadata is lost when saving complex arrays.

#### Minimum Reproducible Example

[code]

[2022-07-24 15:12] #3041 closed

[2022-07-24 15:12] #3051 closed

[2022-07-25 12:54] p-j-smith opened #3066 "[Bug?, Discussion] Setting active scalars of a mesh is ignored by plotters"
### Describe the bug, what's wrong, and what you expected.

Hi,

I've run into an issue with setting the active scalars of a mesh.

If a mesh is added to a plotter and then the active scalars of the mesh are changed, the changes are not updated in the plotter.

This issue was introduced in [commit 2c52ffda4a0cf099c2c8950677492542698e4642](https://github.com/pyvista/pyvista/commit/2c52ffda4a0cf099c

[2022-07-25 12:56] p-j-smith commented on #3066
The issue also occurs without using a callback.

[code]

[2022-07-25 14:26] p-j-smith commented on #3066
So the issue is with [creating a copy of the mesh](https://github.com/pyvista/pyvista/blob/2f77c141794de181d1f9cd9a1c39e7a0321d34b5/pyvista/plotting/plotting.py#L2207-L2209) within `plotter.add_mesh`.

If no copy is made then the scalars correctly update. Alternatively, if the active scalars are set using `plotter.mesh.set_actove_scalars`, then the scalars correctly update in the plotter.

[2022-07-25 17:06] p-j-smith opened #3069 "Adding a mesh to a plotter with smooth_shading=True leads to a deep copy of the mesh"
### Describe the bug, what's wrong, and what you expected.

Hi,

I'm not sure if this behaviour is intended or not, but when a mesh is added to a plotter, if `smooth_shading=True` then a deep copy of the mesh is created.

This is because [point normals are calculated inplace](https://github.com/pyvista/pyvista/blob/2f77c141794de181d1f9cd9a1c39e7a0321d34b5/pyvista/plotting/_plotting.py#L86-L88):
[c

[2022-07-25 17:49] akaszynski commented on #3069
Quite true. That's something we can optimize, but this will break down when splitting sharp edges as it modifies the topology of the mesh.

[2022-07-26 02:17] tkoyama010 opened #3073 "We don't have the ability to copy a plotter"
### Describe the feature you would like to be added.

We don't have the ability to copy a plotter.

_Originally posted by @akaszynski in https://github.com/pyvista/pyvista/pull/3072#discussion_r929459849_

### Links to VTK Documentation, Examples, or Class Definitions.

None

### Pseudocode or Screenshots

[code]

[2022-07-26 13:42] akaszynski opened #3078 "Add gradient decent to our external examples gallery"
Add #3074 to [External Examples](https://docs.pyvista.org/getting-started/external_examples.html).

[2022-07-26 15:20] kevinatrix15 opened #3079 "Clip Plane Filter Doesn't Automatically Update"
### Describe the bug, what's wrong, and what you expected.

I am trying to apply the clip plane filter to a mesh. The visualization window appears with the original clipping applied, but when I move the plane around it fails to update.

### Steps to reproduce the bug.

[code]

### System Information

[code]

### Screenshots

![image](https://user-images.githubusercontent.com/10439130/181045009-fce

[2022-07-26 19:11] akaszynski commented on #3079
Thanks for pointing this out.

Looks like a regression. We really should be testing our widgets in our CI/CD.

I'll come up with a patch for this soon.

[2022-07-26 19:43] banesullivan commented on #3079
ooof, haven't run this to verify but that's a bad regression. Happy to help where needed, @akaszynski

[2022-07-26 20:13] tkoyama010 opened #3080 "Use dependabot-bump-together for Sphinx packages"
### Describe what maintenance you would like added.

This is a *tough* issue to solve... any approach is going to have downsides.

One more way to go about this is to pin all sphinx packages together at known working versions and use [dependabot-bump-together](https://github.com/marcoroth/dependabot-bump-together-action) to bump them all at once as a single PR (contributed to by yours truly 😉) whe

[2022-07-26 22:53] adeak commented on #3073
This won't be easy. One straightforward way to implement copying would be to do a pickle -> unpickle round.

This doesn't currently work out of the box:
[code]

There are probably several VTK objects tied to the state, and we could probably only copy those if they support that themselves. And the above one doesn't look promising:
[code]
which doesn't look very copy-like :(

[2022-07-26 23:00] banesullivan commented on #3073
This would be a huge undertaking and would require a strong use case, which I have yet to see. With that in mind, I'm inclined to close this feature request labeling it as a known limitation until someone comes around with a strong use case and ability to support implementing it

[2022-07-27 04:45] gnsmrky opened #3082 "Bounds labels are shown differently when view cameras are linked"
### Describe the bug, what's wrong, and what you expected.

Observed the following when view cameras are linked using `link_views()`

1. Orientation of bound labels are differently in subplots.
   - `linked view 1` & `linked view 1` have static labels.

2. `Z Axis` label is missing in subplots `linked view 1` & `linked view 2`

### Steps to reproduce the bug.

[code]

### System Information

[code

[2022-07-27 08:55] p-j-smith commented on #3079
I think this is linked to https://github.com/pyvista/pyvista/issues/3066#issuecomment-1194121987. I just tested it out, and if `plotter.add_mesh` doesn't make a copy of the mesh, then the plotter updates as expected

[2022-07-27 09:10] p-j-smith commented on #3069
Yeah that's a good point, changing the topology necessarily means you end up with a new mesh. But it would be nice to be able to use smooth shading without a copy being made. I'll submit a pr with the above changes :)

[2022-07-27 13:58] #2187 closed

[2022-07-27 19:10] p-j-smith commented on #3066
I have just realised that the behaviour I raised as a bug is actually the intended behaviour according to PR #2980.

In that PR, it is suggested that a different PR (#2673) introduced a regression whereby a mesh cannot be added to a plotter multiple times and have different scalars displayed.

However, I think the regression wasn't actually introduced in that PR. I checked out the release branch `

[2022-07-28 15:56] #1606 closed

[2022-07-28 15:56] #1159 closed

[2022-07-28 16:28] leilakany opened #3091 "Display grid with pythreejs backend"
### Describe the feature you would like to be added.

Hi,
Is it possible to use the `show_grid` method of the potter in a notebook with pythreejs backend?

https://docs.pyvista.org/api/plotting/_autosummary/pyvista.Plotter.show_grid.html

[2022-07-28 20:00] #3066 closed

[2022-07-28 20:00] #3079 closed

[2022-07-29 08:39] Failxxx opened #3093 "Add vtkOpenVDBWriter"
### Describe the feature you would like to be added.

I am currently looking to do some volumetric renderings of OpenFOAM simulations. Thus, I need to convert cell data into volumetric data.

### Links to VTK Documentation, Examples, or Class Definitions.

I know there is `vtkOpenVDBWriter` ([class definition](https://vtk.org/doc/nightly/html/classvtkOpenVDBWriter.html)) which could help use to ge

[2022-07-29 09:33] Failxxx opened #3094 "Add temporal interpolator"
### Describe the feature you would like to be added.

I think it would be nice to be able to interpolate temporal data sets so we could generate 'fake' time steps between each time point. VTK is providing a `vtkTemporalInterpolator` for this purpose. It can "interpolate datasets between time steps to produce a new dataset".

### Links to VTK Documentation, Examples, or Class Definitions.

Here is

[2022-07-29 16:05] akaszynski opened #3095 "Support vtkCompositePolyDataMapper"
Add a composite dataset mapper to `pyvista.Plotter` to improve the performance of `MultiBlock` datasets.

[2022-07-29 16:08] akaszynski opened #3096 "Improve the pass rendering pipeline"
Add the following pass pipelines and ensure they all work when enabled.

- [x] `vtkEDLShading`
- [x] `vtkDepthOfFieldPass`
- [x] `vtkGaussianBlurPass`
- [x] `vtkOpenGLFXAAPass`
- [x] `vtkSSAAPass`
- [ ] `vtkSSAOPass`

[2022-07-29 16:12] akaszynski opened #3097 "Support multidimensional arrays for datasets"
Based on work done in #2729, correctly support multidimensional arrays for structured arrays. For example, the following should be possible without raveling the array.

[code]

[2022-07-29 16:16] akaszynski opened #3098 "Improve texture abstraction"
Based on #2729, improve the texture abstraction layer and add/fix the following:

- [ ] Add `pyvista.Texture` to the docs.
- [ ] Improve the performance of `to_image` or `to_array` by ensuring a zero copy.
- [ ] Adds repr to pyvista.Texture
- [ ] Allow init from 6 images to construct a cubemap.
- [ ] Add in a plot method that works with cubemap enabled Textures.
- [ ] Support greyscale textures.
-

[2022-07-29 16:24] akaszynski opened #3099 "Refactor Render Window"
`pyvista.Plotter` is effectively a corollary of `vtkRenderWindow` with lots of bells and whistles. It would be better to separate out the real `vtkRenderWindow` logic into its own class and then leave pyvista. Plotter as the glue and logic center to allow users to add datasets.

Implement any final cleanup. This means pulling out all of our messy close, clean, deep clean, etc. logic and getting ri

[2022-07-29 16:35] akaszynski opened #3100 "Meta Issue: Improve picking"
Improve picking by addressing the following:
- [x] Point picking uses `vtkPicker` and we should instead use [vtkHardwareSelector](https://vtk.org/doc/nightly/html/classvtkHardwareSelector.html).
- [ ] Enable selection picking for blocks (requires #2941)
- [x] #2412
- [ ] #1335
- [x] #2520 (revisit after #2948)
- [x] #2578
- [x] #3027
- [x] #3317
- [x] #3550
- [x] https://github.com/pyvista/pyvista

[2022-07-29 16:37] #2903 closed

[2022-07-29 16:42] akaszynski commented on #2354
@hakostra, is this still an issue with 0.35.2?

[2022-07-29 16:42] #2311 closed

[2022-07-29 16:44] akaszynski commented on #1790
Can this be closed?

[2022-07-29 16:44] #1747 closed

[2022-07-29 16:46] akaszynski commented on #1664
We've added example docs in https://tutorial.pyvista.org/.

Speaking of that, we should expose those docs in our repo.

[2022-07-29 17:38] akaszynski commented on #3093
@banesullivan, let's consider building advanced wheels with more features. Ideally there would be a vtk and then `vtk-extras` wheel.

[2022-07-29 20:14] MatthewFlamm commented on #3094
I think this is related to https://github.com/pyvista/pyvista/issues/412.

The primary problem, as far as I understand, is that pyvista doesn't have a concept of a pipeline like vtk for iterating over time points.  A DataSet has to be 'manually' updated over time in pyvista, whereas `vtkTemporalInterpolator` uses the time-based pipeline to calculate.  It looks like there is a protected method `Int

[2022-07-30 04:33] adam-grant-hendry commented on #1790
I think so, yes.

[2022-07-30 17:54] #1790 closed

[2022-07-30 18:15] akaszynski commented on #3091
I'm afraid not. Ideally it would be, and I'm highly considering that since k3d is well supported, we add support for `k3d` and eventually deprecate `pythreejs`

[2022-07-31 16:39] akaszynski commented on #3054
### Windows 3.10 segfaulted on ``test_load_channels``

[code]

[2022-08-01 06:35] Failxxx commented on #3094
Ok I understand. I see the protected method `InterpolateDataSet`. However I don't know if such methods can be used through the python API.

[2022-08-01 06:39] Failxxx commented on #3093
I am not sure to understand correctly. Do you mean that you would like to provide custom (unofficial) vtk plus vtk-extras wheels (which could contain openvd for example) along with the installation of pyvista when a user installs it using `pip`?

[2022-08-01 09:25] AlexanderJuestel commented on #252
@banesullivan maybe just an addition to this issue: Is there a way to retrieve the XYZ position of a point along this line given a distance? The point is most like not located on a vertex/note but rather located along a linear segment.

I am particularly interested in that since we can display wells/boreholes including their deviation in PyVista (see image). We then know the stratigraphic boundari

[2022-08-01 10:50] hakostra commented on #2354
Yes, it seems like this problem is still persistent in both 0.35.2 and 0.36.0.

[2022-08-01 12:01] laysauchoa commented on #1574
Hi, I'd love to contribute to the pyvista project. Would be possible to assign this issue to me? Thanks!

[2022-08-01 12:54] tkoyama010 commented on #1574
@laysauchoa Thanks for contributing! We welcome your contribution.

[2022-08-01 13:37] larsoner opened #3116 "BUG: PyVista pins to RC"
In MNE-Python we've had issues in CIs with PyVista pinning to a VTK release candidate.

IMO pinning to a release candidate in itself is a bad idea -- it's a candidate, not actually released yet, and could easily have bugs, probably isn't easy to install everywhere yet, etc. -- but also it would be good if pyvista itself had a policy to support as far back in VTK as possible/reasonable. Most scient

[2022-08-01 13:38] larsoner commented on #3116
... in practice the way these other libraries (MNE-Python included) deals with older versions of libraries is with the occasional little shim that's needed to accomplish the same thing two ways, or by emitting an error if the version isn't high enough for a requested feature. To me this is a fairly small maintainability price to pay to buy a lot more compatibility.

[2022-08-01 13:41] larsoner commented on #3116
... ohh it's just for 3.10. I'm not sure the best thing to do in that case.

[2022-08-01 13:44] akaszynski commented on #2354
You might have an old version sticking around, because this works without any issues:
[code]
![tmp](https://user-images.githubusercontent.com/11981631/182161144-9677f0b0-2d4c-485d-98cd-6abb4efe21b7.png)

Could you try on a fresh virtual environment?

### My Environment
[code]

[2022-08-01 13:44] larsoner commented on #3116
To be more detailed about the issue in MNE-Python, it's really going to be a bug with any `conda`-based install where you try to use `pyvista` from pip (incl. latest dev version): install Python 3.10, install `vtk`, then `pip` install pyvista. The pin will cause problems because it will try to force a pip install of VTK, which will fail because it can't uninstall `conda`'s version.

[2022-08-01 13:45] laysauchoa commented on #1574
Before adding this workflow, let's clarify some important points:

I can add one workflow to run for all the files in every push
advantage: catch any link that fails in every push
disadvantage: it may make things slow if you have there are too many links

OR

I can add two workflows:

- one to run in every push only in the changed files
- one to run weekly in the whole file

advantage: runs faster

[2022-08-01 15:05] #3116 closed

[2022-08-01 15:07] akaszynski commented on #3093
Ideally Kitware would. I'm not opposed to generating a wheel on my own like we did with our unofficial wheels in https://github.com/pyvista/pyvista-wheels, but ideally Kitware would make an official solution.

[2022-08-01 15:16] Weafre opened #3119 "Saving mesh and texture after texture mapping"
Hi  @banesullivan
I have the same question as @shakasaki, how do we save both mesh and texture in a single file after texture mapping.

Hello, I have a question that relates to this post. I am able to load a topographic map and apply textures to it. I create a dictionary of textures as shown above

e.g.,

`# Associate the texture with the mapped mesh
mapped_surf.textures["aerial"] = pv.numpy_to_te

[2022-08-01 15:34] banesullivan opened #3120 "Modernize HTML repr methods"
### Describe the feature you would like to be added.

over two years ago, I implemented the `_repr_html_` methods in #24 and they have gone mostly unchanged since. I think it's time we give the HTML representation a refresh to look more like what Pandas and Xarray implement.

The new repr should have a familiar look and feel to libraries like Pandas and Xarray and be interactive

### Links to VTK

[2022-08-01 15:46] hakostra commented on #2354
I created the `probes2.vtk` to show that if you loaded the same dataset with point data instead of cell data, it works as expected. So this is expected.

Can you try the original datafile (`probes.vtk`) I submitted originally (`pyvista-probes.tar.gz`) in the original/first post?

[2022-08-01 15:58] akaszynski commented on #2354
My bad! The trick with this one is setting `preference='cell'` since the array exists both as point and cell data. This seems like a bit of a bug to me since it should have displayed something. I'll leave this issue open.

[code]

[2022-08-01 16:58] hakostra commented on #2354
Is there any point data in the original datafile? I cannot find anything, and I can only find one scalar called 'array', this is a cell data array.

[2022-08-01 19:10] akaszynski commented on #2354
You're right. When you load it it's indeed not in `grid.point_data`:
[code]

Looks like it's added by the plotter, because it indeed shows up after adding it with `add_mesh`

[code]

This is why I would have prefered to have `copy_mesh=True`, these sorts of weird edge cases that crop up.

This is still a weird bug, and I think it has to do with the fact that `n_cells` == `n_points` and we have som

[2022-08-01 20:04] artcytracy commented on #2592
I am having this issue also but I am not using xvbf or a remote machine. The depth peeling worked fine for a few months on my team's project, on various Mac and Windows machines, but suddenly started failing for some users, including myself, the author of the code. It still works as expected for one user and I'm trying to figure out what configuration might be different for that person.

[code]

[2022-08-01 20:36] akaszynski commented on #2592
@banesullivan, I know that many render passes weren't working for you. Does any of this ring a bell?

[2022-08-01 23:34] artcytracy commented on #2592
I've also run a simple test on my personal desktop and it works fine.

Code:
[code]
System info:
[code]

[2022-08-02 12:48] darikg commented on #3120
This is something that'd be really really nice to have as a standalone package -- mapping an arbitrary hierarchically nested dict-like structure to interactive html_repr would be broadly useful!

[2022-08-02 16:08] MatthewFlamm commented on #924
Now that POpenFOAMReader is implemented, I think that the core functionality for reading OpenFOAM data is now complete.  There are more features for OpenFOAM reading that can be implemented, e.g. 64 bit data/labels, but I think these are best tracked on separate issues, or a single issue with a concrete list of features to add.

I'm going to close this, but if anyone feels differently, we can reop

[2022-08-02 16:08] #924 closed

[2022-08-02 16:41] tkoyama010 commented on #1574
Nice analysis, I think it would be clearer if you measured the time with PullRequest.

[2022-08-02 17:17] tkoyama010 commented on #3120
Partially related to https://github.com/pyvista/pyvista/issues/3017 .

[2022-08-03 18:05] akaszynski commented on #3054
### Mac OS 3.10 `test_rotate_should_match_vtk_rotation`

FAILED tests/test_dataset.py::test_rotate_should_match_vtk_rotation[x] - hypo...

[code]

[2022-08-03 18:16] nshdesai opened #3125 "Textures don't appear if init'ed from numpy array with dtype not being `np.uint8` while using pythreejs backend"
### Describe the bug, what's wrong, and what you expected.

There seems to be an issue with plotting textures using a pythreejs backend when initialized using `pvvista.numpy_to_texture(img)` where `img` is a numpy array that does _not_ have dtype `np.uint8`. When setup as such, the plot always shows a mesh with a black texture. It would be helpful to others to either mention in the docs that `nump

[2022-08-03 21:47] #3078 closed

[2022-08-03 22:17] akaszynski commented on #3054
### Windows Python 3.8: test_multi_plot_scalars

[code]

[2022-08-04 00:22] akaszynski commented on #3125
Thanks for pointing this out. #3129 will address this.

[2022-08-04 05:03] akaszynski commented on #3119
Looks like we're not properly exporting the texture when saving the dataset. Ping me if we don't resolve this in a week.

[2022-08-05 20:23] #3125 closed

[2022-08-05 21:14] laysauchoa commented on #1574
linkcheck will take 35 min or a bit more. wdyt? I'd say that running periodically would make more sense to not have to wait for this long. However, a link could break in between.

[2022-08-06 11:11] tkoyama010 opened #3134 "Windows test errors"
### Describe what maintenance you would like added.

Side note:

That's a lot for an error. It might be helpful to check on a windows machine what's going on here, because it's usually something egregious when that kind of error appears. Might be good to know if our code is broken on windows.

_Originally posted by @adeak in https://github.com/pyvista/pyvista/issues/3133#issuecomment-1206841369_

[2022-08-06 18:56] #1761 closed

[2022-08-06 20:57] adeak commented on #1761
This was changed in #3124, we now report `scalars.shape[0]` in the error message. If you find this confusing in some situations still, please let us know.

[2022-08-06 21:23] akaszynski commented on #1574
Might make sense to run this as a weekly cron job.

[2022-08-07 04:35] liududu commented on #1556
Is the video available right now? I see most other videos were uploaded 5 days ago

[2022-08-07 19:18] #2873 closed

[2022-08-07 19:18] #3057 closed

[2022-08-07 19:19] #1823 closed

[2022-08-07 20:49] akaszynski commented on #1556
The mayavi video is still not there, so either someone lost the HD or it's just waiting to be uploaded.

[2022-08-08 13:25] dcbr commented on #3134
A quick test on Windows 10 (but with an older pyvista version) gives following result

![image](https://user-images.githubusercontent.com/15089458/183428141-d1f15472-7a6c-4cc7-9e95-01b353f91ede.png)

I can investigate this in more depth (and on latest main branch) later this week.

[2022-08-08 14:32] akaszynski commented on #3134
The weird part is that this is intermittent...

[2022-08-08 14:50] adeak opened #3139 "Closed plotter with a GIF writer makes subsequent plotter hang"
### Describe the bug, what's wrong, and what you expected.

If I take a plotter that writes a GIF, then `.close()` it, then open another plotter and `.show()` that, the call to `.show()` never returns even if I close the second figure window. This hangs the python script.

### Steps to reproduce the bug.

Example code that hangs on my system on `upstream/main` (but also `v0.36.1`):
[code]

Adding

[2022-08-08 16:09] lopsided commented on #2592
I'm having the exact same problem with `mayavi`, I believe it is a problem with `vtk`/`Xvfb`. Is there any alternative to `Xvfb` for headless rendering?

[2022-08-08 16:47] akaszynski commented on #2592
Yes, OSMesa, see https://github.com/pyvista/pyvista-wheels

[2022-08-08 20:27] adam-grant-hendry opened #3141 "Bug: Circular Import - `pyvista.FieldAssociation`"
### Describe the bug, what's wrong, and what you expected.

Reposting from [`pyvistaqt` issue #168](https://github.com/pyvista/pyvistaqt/issues/168), for some unknown reason, `pyvista` seems to have a circular import bug when importing in some (but not all) virtual environments.

### Steps to reproduce the bug.

1. `py -m venv .venv && .venv\Scripts\Activate.ps1`
2. `py -m pip install pyvista`
3.

[2022-08-08 20:56] adam-grant-hendry commented on #3141
I see the error. The repo `pyvista.__init__.py` has a specific sort order:

[code]

My environment uses `isort` to sort imports on save, so when I viewed and saved, it put them in alphabetical order per PEP8:

[code]

I'll see if I can turn off `isort` for `site-packages`, but I think it would be good to add an `# isort: skip` to modules that must retain import order, or an `isort:skip_file` to th

[2022-08-08 22:32] banesullivan opened #3142 "Need to rename `overwrite` method"
https://github.com/pyvista/pyvista/blob/7ca5c227f9111dd1c280da06a3959e37ec047541/pyvista/core/dataset.py#L2016

The `overwrite` method is a PyVista-specific method that many of our users have found valuable. This previously had no equivalent upstream in VTK, but now, the `overwrite` method is used upstream in VTK after 9.2 for a different use case. Every class in VTK, as of 9.2, now has an `overwr

[2022-08-08 22:36] banesullivan commented on #3142
Perhaps it could be deprecated entirely as it's really just a different name for the `deep_copy` method

[2022-08-08 22:39] adeak commented on #3142
A VTK method written in lowercase?? :smile:

I'm pretty bad at naming things, but based on the behaviour the kind of things that come to mind:
  * `copy_from()`
  * `fill_from()`
  * `overwrite_mesh()`

"Think outside the box" option: rename upstream to `override()`.

[2022-08-08 22:41] adeak commented on #3142
Speaking of which: it would be nice if `deep_copy()` returned a new copy instead :P

[2022-08-08 22:42] banesullivan commented on #3142
I agree, but it *should* probably mimic/wrap the upstream `DeepCopy` method which modifies the mesh in place

[2022-08-08 22:45] adeak commented on #3142
Technically we could allow `deep_copy()` to be called with 0 arguments to get a new copy, or a mesh argument for the current behaviour. But
1. type homogeneity would be flawed
2. I digress.

[2022-08-08 23:04] adeak commented on #3142
Also pinging @pyvista/developers because the more the merrier and there might be some who don't monitor issues nor slack.

[2022-08-09 03:31] liududu commented on #1556
I guess they just forgot to upload the video, I'm quite interesting in the video content of this tutorial. Is there any chance that you could contact with the organizer to confirm the status? Many thanks!

[2022-08-09 09:15] lopsided commented on #2592
Thanks @akaszynski. I started again with a minimal conda environment (python=3.9, no `mayavi`). I installed `vtk` with `pip install https://github.com/pyvista/pyvista-wheels/raw/main/vtk-osmesa-9.1.0-cp39-cp39-linux_x86_64.whl` then installed `pyvista` with `pip install pyvista`. The OP example above (without the `pv.start_xvfb()` line) then failed with `ImportError: libOSMesa.so.8: cannot open sh

[2022-08-09 18:26] banesullivan commented on #1556
I reached out today, and PyVista's tutorial is not the only one missing. It appears they are still working on getting all of the content uploaded. Thanks for bearing with us!

[2022-08-09 21:53] adeak commented on #3141
In `pyproject.toml` we have
https://github.com/pyvista/pyvista/blob/7ca5c227f9111dd1c280da06a3959e37ec047541/pyproject.toml#L1-L8

This explicitly ignores `__init__.py` files for `isort`. And it works: if I add a dummy edit to `pyvista/__init__.py` and run `pre-commit run`, it's green.

So the question is why your tooling doesn't pick up on all that. You said

Sounds like your tooling does things

[2022-08-09 23:06] adam-grant-hendry commented on #3141
It's a separate project altogether that imports `pyvista`, not a fork/clone of `pyvista` itself. It has its own `pyproject.toml`, which is why I didn't catch it.

I was looking at `pyvista` source in that project's virtual environment site packages.

[2022-08-09 23:11] adeak commented on #3141
Then it's not clear to me why `isort` would touch anything outside your repo. Is your env inside the repo?

[2022-08-09 23:16] adam-grant-hendry commented on #3141
No, its outside the repo. It's just in `.venv/Lib/site-packages` like usual. In VSCode, I had

[code]

and my `pyproject.toml` `[tool.isort]` settings didn't have any restrictions against sorting imports on `__init__.py` files (my `skip_glob` was completely empty).

This was just a silly uncaught error on my end.

[2022-08-09 23:17] adeak commented on #3141
Well, I still don't get it, but as long as it's fixed.

[2022-08-09 23:18] adam-grant-hendry commented on #3141
I literally opened the file in my editor and hit save (force of habit), so I'm sure that's why it edited it.

[2022-08-09 23:19] adeak commented on #3141
Ah, I see, thanks. Sounds like a dangerous feature! Consider adopting pre-commit hooks instead.

Closing as non-issue.

[2022-08-09 23:19] #3141 closed

[2022-08-09 23:27] adam-grant-hendry commented on #3141
I use both. They're both incredibly useful.

Definitely a non-issue. Only thing I didn't realize is that we had an import-order dependency.

**RECOMMENDATION:** It'd be nice to avoid this import order dependency if at all possible. This is kind of like the issue you have with `setuptools` where, in some cases, it has to be imported before other imports. This can make things brittle, and it wasn't

[2022-08-09 23:31] adam-grant-hendry commented on #3141
@adeak It's also possible to disable the `isort` behavior of sorting entirely for the file by adding an [` # isort: skip_file` to the module docstring](https://pycqa.github.io/isort/#skip-processing-of-imports-outside-of-configuration).

This would prevent `isort` from ever sorting the imports and make it clear to readers that we rely on a certain import order.

Can I make a PR for that?

[2022-08-10 10:57] adeak commented on #3141
I agree, but not exactly because of this issue.

Arguably this isn't too much like `setuptools` because all this is internal to `pyvista`. downstream users doing `import pyvista` should not be affected in any way, unless they go out of their way to edit `pyvista`'s code ;) It is brittle for people developing pyvista, but
1. we have `isort` as part of pre-commit hooks, so nobody should want to forc

[2022-08-10 13:42] lopsided commented on #2592
[Duplicating my 2 comments from https://github.com/enthought/mayavi/issues/1165]

TL;DR: `export GALLIUM_DRIVER=softpipe` fixes the problem.

The problem appears to be with the renderer. When using `Xvfb` you don't get the hardware support so even with a GPU on the headless machine you can't use it (AFAICT). That means you're using the software renderer `llvmpipe` by default. This can be changed t

[2022-08-10 14:10] lukaszmoroz opened #3145 "Filesystem races in pyvista.examples.downloads"
### Describe the bug, what's wrong, and what you expected.

The function [pyvista.examples.downloads.delete_downloads](https://github.com/pyvista/pyvista/blob/5348b3dbe973fbd89bad8524bb946ec63ec2da12/pyvista/examples/downloads.py#L69) sometimes results in filesystem races when called from multiple processes (e.g. by pytest), and it's called indirectly [from the main module](https://github.com/pyvi

[2022-08-10 18:10] banesullivan opened #3147 "`bounds` property return type is mutable from `MultiBlock`"
The `bounds` property has a different return type for meshes and `MultiBlock` objects:

[code]

IMO, the return value should be immutable and the `bounds` property should  be cast to a tuple before returning.

[2022-08-12 00:28] akaszynski commented on #3142
I vote `copy_from()`, and we can even include a `deep` kwarg.

[2022-08-12 00:51] MatthewFlamm commented on #3142
I also like `copy_from` in fact I like it better than `overwrite`.

[2022-08-12 00:53] tkoyama010 commented on #3142
+1 for `copy_from`. But also love to add `overwrite_mesh()` to wrap `copy_from` . It is a good expression of the method.

[2022-08-13 00:29] #3145 closed

[2022-08-13 00:30] #1734 closed

[2022-08-13 01:13] MatthewFlamm opened #3158 "Volume property for UnstructuredGrid only returns an estimate of the volume"
### Describe the bug, what's wrong, and what you expected.

To determine the volume of UnstructuredGrid grids, pyvista first extracts the outer surface, triangulates it, then uses vtkMassProperties, which provides an _estimate_ of the volume.  See https://vtk.org/doc/nightly/html/classvtkMassProperties.html#details

And

https://vtk.org/doc/nightly/html/classvtkMassProperties.html#details

### Ste

[2022-08-13 13:28] SpatialDigger opened #3161 "Translate not handling float to the required precision"
In the given example the trans.center should be 2.0, 1.0, 2,0

[code]

The result from the example is:
`[1.9999999403953552, 1.0000000298023224, 2.0]`

I came across this when trying to relocate some surfaces which must perfectly align, I translated them so their centre was at the zero point, that worked, then I translated them to `trans = trans.translate((991.0000000000000, 262.2000000000000, 193

[2022-08-13 21:27] adeak commented on #3161
I mostly understand what you see. What I don't understand is why the center is zero originally!

I would argue that the issue is exactly that the computation is done "to the required precision": `float32` in the example mesh. Consider this:
[code]
For some reason VTK does something tricky (perhaps sums up in a different order) to obtain
[code]

Anyway, `1e-10` error is expected with single precisi

[2022-08-14 15:27] MatthewFlamm opened #3164 "UniformGrid cannot be cast to pointset"
### Describe the bug, what's wrong, and what you expected.

`UniformGrid` has a `cast_to_pointset` method, but it fails when used.

### Steps to reproduce the bug.

[code]

[code]

### System Information

[code]

### Screenshots

_No response_

[2022-08-15 16:40] banesullivan commented on #210
@akaszynski and I talked yesterday, and I'd like to bring this up on to the to-do list. Alex, set the priority as you see fit, but I'm going to assign this to myself.

[2022-08-15 16:42] banesullivan commented on #210
FWIW, I've been using pooch on a few other projects, and it's a real pleasure to work with. We can significantly reduce lines of code in the `downloads` module by switching to pooch and the additional dependencies are light enough for my taste:

[code]

[2022-08-15 18:58] akaszynski commented on #210
Once I've gotten a few of the high priority PRs merged I'll start working on this. @ me if you make a branch/PR so we don't duplicate.

[2022-08-16 08:07] tbridel opened #3172 "[BUG] Spurious vertex added in a PolyData after `clean`"
### Describe the bug, what's wrong, and what you expected.

It seems the `clean` method for PolyData generates spurious vertices that were not part of the original mesh. And no face is actually connected to those "new" spurious vertices.

### Steps to reproduce the bug.

The [example in the doc of PolyData clean](https://docs.pyvista.org/api/core/_autosummary/pyvista.PolyData.clean.html) actually

[2022-08-16 10:07] leo2r opened #3174 "mesh.rotate_*( ) & mesh.translate( ) move camera even though camera.position is specified"
### Describe the bug, what's wrong, and what you expected.

When applying rotations or translations to meshes, it seems like the camera moves around even though a camera.position is specified. This seems like undesired behaviour, as when I specify a camera I would like it to be fixed and not be influenced by a mesh being rotated or translated. Seems like even the axis changes sometimes (couldn't g

[2022-08-16 10:53] lsawade opened #3175 "Unit testing fails due to missing libEGL.so.1"
### Bug Report

When ``import pyvista as pv`` in Github actions on an ubuntu machine the import fails due to a missing EGL library. We are installing ``pyvista`` via conda environment file. This was not an issue previously.

Possibly related to #2142 and  https://github.com/pyvista/pyvista/pull/2151

[code]

### Reproduction

There aren't many specific steps, but it requires the setup of a github

[2022-08-16 12:49] Danzip opened #3176 "Pyvista doesn't run on ubuntu 22.04"
### Describe the bug, what's wrong, and what you expected.

When running any pyvista plot I run into the following error:
`libGL error: MESA-LOADER: failed to open radeonsi: /usr/lib/dri/radeonsi_dri.so: cannot open shared object file: No such file or directory (search paths /usr/lib/x86_64-linux-gnu/dri:\$${ORIGIN}/dri:/usr/lib/dri, suffix _dri)
libGL error: failed to load driver: radeonsi
libGL

[2022-08-16 12:57] #3176 closed

[2022-08-16 17:09] akaszynski commented on #3176
Curious, is that with `pip install pyvista` or `conda install pyvista`?

[2022-08-16 17:25] darikg commented on #3172
I think that example is ill-formed -- the faces array is referencing a point (3) that doesn't exist, so the senseless coordinates you mention are presumably coming from out-of-bounds array access or something.

Changing `faces = np.array([3, 0, 1, 2, 3, 0, 3, 3])` to `faces = np.array([3, 0, 1, 2, 3, 0, 2, 2])` behaves as expected.

[2022-08-16 17:36] akaszynski commented on #3172
Thanks for pointing this out. Want to push a quick PR to fix this?

[2022-08-16 19:05] MatthewFlamm opened #3178 "Reader memory usage/memory usage when wrapping vtkDataSets"
As pointed out in https://github.com/pyvista/pyvista-support/issues/500#issuecomment-921108703 and https://github.com/pyvista/pyvista-support/issues/500#issuecomment-921106561, readers seem to duplicate memory usage.

Using this code shows that the mesh data is copied from the reader to the mesh object.  This is only released when deleting the reader object.

[code]

[code]

[2022-08-16 19:22] MatthewFlamm commented on #3178
Trying to isolate which part of the `read` method:

https://github.com/pyvista/pyvista/blob/e827dcc131b4e640337b17fa092c71a577038f7f/pyvista/utilities/reader.py#L294-L312

A minimal set of steps used in `read` is:

[code]

If I use this minimal set in the above code as:

[code]

[code]

This suggests that it is not the reader itself, but the pyvista wrap that duplicates the memory usage.  This can

[2022-08-16 19:23] MatthewFlamm commented on #3178
cc @adam-grant-hendry

At least in the case of this exact file/dataset, I think I have pinpointed the issue not to be in the readers themselves, but in the wrapping operation to get a `pyvista.DataSet`.

[2022-08-16 19:54] Danzip commented on #3176
Both

On Tue, Aug 16, 2022, 20:09 Alex Kaszynski ***@***.***> wrote:

[2022-08-16 23:44] adam-grant-hendry commented on #3178
Thanks for looking into this!

That seems consistent with the [#500 error](https://github.com/pyvista/pyvista-support/issues/500#issuecomment-919387362) and the additional [mutation side effects](https://github.com/pyvista/pyvista/pull/3170#issuecomment-1216916394) I've been seeing.

[2022-08-17 00:05] MatthewFlamm commented on #3178
`UniformGrid` uses `DeepCopy` when we pass it vtkImageData object.  This is very inefficient.  I wonder why we cannot use `ShallowCopy`?  Switching this fixes the issue for me.

[2022-08-17 00:52] adam-grant-hendry commented on #3178
Which issue specifically? The [memory leak](https://github.com/pyvista/pyvista-support/issues/500#issuecomment-919387362) or simply [extra memory being allocated by wrapping](https://github.com/pyvista/pyvista/issues/3178#issuecomment-1217063639)?

Are you able to run [the memory leak code](https://github.com/pyvista/pyvista-support/issues/500#issuecomment-919387362)  without memory leaking?

[2022-08-17 01:00] MatthewFlamm commented on #3178
It fixes the issue raised in this PR, which is that wrapping certain vtk datasets doubles memory and may seem to leak memory unless there vtk dataset is garbage collected.  This manifests in the reader since the reader keeps a reference to the vtk dataset object.

[2022-08-17 01:02] adam-grant-hendry commented on #3178
Awesome! I think the next steps are to turn this into a PR, run it against the test suite, and get feedback from the other developers. I'm not sure why `deep_copy` was used, but someone else might know why.

[2022-08-17 01:22] MatthewFlamm commented on #3178
It turns out that some datasets, like PolyData, use shallow copy by default with an option.  Others only allow deep copy.  This seems like a straightforward PR at this point.

[2022-08-17 07:29] leo2r commented on #3174
Hey, thanks for the suggestion, that does work indeed! Sorry for opening an issue about this 😅 Closing now 🙏🏽

[2022-08-17 07:29] #3174 closed

[2022-08-17 07:31] leo2r commented on #3174
Sorry actually this sets the focal point on the centre of the original plane, but does it have to be dependent on a mesh? Or can it be set to the global origin instead? I'm not sure for my use case that I'll always want the focal point to be centred on a mesh as they'll be moving about the global origin!

[2022-08-17 09:32] MatthewFlamm commented on #3174
In my example, `plane.center` is a sequence (X, Y, Z).  You can use any point in space.  Try `(0, 0, 0)` to use the world origin.

[2022-08-17 10:35] leo2r commented on #3174
Oh duh of course, thank you! 🙏🏽

[2022-08-17 19:52] #3172 closed

[2022-08-18 00:11] adam-grant-hendry opened #3180 "Side Effects (Array Mutations) when Accessing Dataset Attributes"
### Describe the bug, what's wrong, and what you expected.

As revealed in [PR #3170](https://github.com/pyvista/pyvista/pull/3170), accessing certain dataset attributes in function scopes causes side effects: mutations of arrays. Specifically, we saw:

1. Accessing `volume.active_scalars` in `plotting.add_volume`

[code]

led to `volume['Spatial Point Data']` from the `examples.load_uniform()` da

[2022-08-18 00:30] akaszynski commented on #3175
Are you using the standard vtk wheel or the osmesa wheel from pyvista-wheels?

[2022-08-18 02:50] adam-grant-hendry commented on #3147
@banesullivan Possibly related to #3180 .

[2022-08-18 16:44] #3178 closed

[2022-08-19 00:24] akaszynski opened #3185 "show_edges and scalars causes segfault on Windows with OpenGL from OSMesa"
The following example causes a segfault on Windows with OpenGL from [install_opengl.ps1](https://github.com/pyvista/gl-ci-helpers/blob/master/appveyor/install_opengl.ps1) from http://qt-project.org/wiki/Cross-compiling-Mesa-for-Windows and ``vtk>=9.1.0`` (including unfortunately `vtk==9.2.0rc2`).

[code]

This plot works fine with `show_edges=False` or with no scalars but not both.

Note: setting

[2022-08-19 13:45] lsawade commented on #3175
@akaszynski Let me test this and get back to you

[2022-08-19 16:05] p-j-smith opened #3188 "Weight geodesic calculations by edge length"
### Describe the feature you would like to be added.

Hi, it would be really nice to be able to weight the shortest path calculations in `PolyData.geodesic` and `PolyData.geodesic_distance` by the edge length between vertices.

I'm not sure how best to incorporate this into pyvista, but I'd be happy to contribute it with a little guidance. Thanks!

### Links to VTK Documentation, Examples, or Clas

[2022-08-19 23:02] #3158 closed

[2022-08-20 12:27] adeak commented on #3188
When I read this, "edge length" sounds like the actual length of a given edge, and I would assume that Dijkstra already takes this into consideration, finding an overall shortest path.

The linked experimental feature has "scalars" in the name, so I assume it uses scalars instead of physical distance to weight a given edge. (Not sure how it considers scalars, since we only have point and cell scal

[2022-08-20 17:59] p-j-smith commented on #3188
Yep you're right - for some reason I assumed the edge length was not taken into account, and only the number of edges was considered. But this is not the case. Sorry for the confusion.

[2022-08-20 21:27] adeak commented on #3188
OK, but again: which behaviour is this feature request about? The one that's already the behaviour, or what #3189 is opened for?

[2022-08-21 06:15] tkoyama010 opened #3192 "Add track treating all the other (presumably newer) nonlinear cell types"
### Describe the feature you would like to be added.

I can count 10 `QUADRATIC_*` cell types and some more bi- and tri-quadratic ones. This method claims

Do you think we need a feature request to track treating all the other (presumably newer) nonlinear cell types here eventually?

_Originally posted by @adeak in https://github.com/pyvista/pyvista/pull/3115#discussion_r950692490_

### Links to V

[2022-08-22 08:35] p-j-smith commented on #3188
Sorry, it's for the one that's already the behaviour

[2022-08-22 15:20] #3095 closed

[2022-08-22 21:07] akaszynski commented on #3050
#2964 will resolve this.

[2022-08-22 21:08] akaszynski commented on #2979
Closing, agree with @banesullivan.

[2022-08-22 21:08] #2979 closed

[2022-08-22 21:10] akaszynski commented on #2865
This should be resolved by #2948.

[2022-08-23 03:25] akaszynski commented on #2340
@AlejandroFernandezLuces, please take a look at this and see if you can expose this functionality.

Please see our documentation at https://docs.pyvista.org/ and contributing documentation at [CONTRIBUTING](https://github.com/pyvista/pyvista/blob/main/CONTRIBUTING.rst).

Feel free to ping me anytime. Ideally, open a draft PR early and we can collaborate there.

[2022-08-24 16:39] AlejandroFernandezLuces commented on #2340
PR is already up, please take a look and let me know what do you think about it 😄

[2022-08-26 03:35] #3050 closed

[2022-08-26 14:39] MatthewFlamm commented on #2959
The branch above works well, however currently a new docker image needs to be built whenever the requirements change.  Getting the pre-builds to work nicely with pip is tricky.  The solution in https://github.com/gitpod-io/gitpod/issues/7078 might work.

[2022-08-26 22:00] #1574 closed

[2022-08-27 17:08] benpm opened #3221 ""pythreejs" jupyter backend requires virtual framebuffer, contrary to documentation"
### Describe the bug, what's wrong, and what you expected.

Contrary to the documentation, enabling the "pythreejs" backend for jupyter notebooks causes an error suggesting to use a virtual framebuffer when X server is not available:

[code]

### Steps to reproduce the bug.

Simply run the following on a headless system in a jupyter notebook:
[code]
Sometimes the kernel simply dies, but most of th

[2022-08-29 04:14] banesullivan opened #3224 "PyVista is currently incompatible with ParaView"
### Describe the bug, what's wrong, and what you expected.

The following imports do not work when trying to import PyVista within ParaView's Python shell (using the VTK python bindings bundled with ParaView):

https://github.com/pyvista/pyvista/blob/f7800c90649c43d566d9e419d2dea880a3292585/pyvista/_vtk.py#L370

https://github.com/pyvista/pyvista/blob/f7800c90649c43d566d9e419d2dea880a3292585/pyvis

[2022-08-29 04:19] banesullivan commented on #3224
I think if `vtkImagingMorphological` or `vtkPythonContext2D` are not available, then PyVista should gracefully handle this by disabling some features. This is a classic example of mismatching what VTK modules are enabled in a given build. There will be plenty of other scenarios just like this.

[2022-08-29 11:28] dcbr commented on #3224
I can deal with the `vtkPythonContext2D` import in #2868 as that PR already disables this chart backgrounds feature for older VTK versions.

[2022-08-29 15:49] banesullivan commented on #3119
PyVista's `textures` attribute that tracks associated textures is unique to PyVista and not reflected upstream in VTK. This is why a simple `save()` call does not output the textures. You will have to `save()` the mesh after mapping the texture (adding `Texture Coordinates`) *and* save out the texture as an image (PNG, JPEG, etc) to load separately in ParaView.

[2022-08-29 15:50] banesullivan opened #3227 "Textures cannot be saved"
### Describe the bug, what's wrong, and what you expected.

the `save()` method on `Texture` objects fails.

### Steps to reproduce the bug.

[code]
[code]

### System Information

[code]

### Screenshots

_No response_

[2022-08-29 15:53] banesullivan commented on #3093
Noted. I think this might also be a good fit for https://github.com/pyvista/pyvista/issues/2275

[2022-08-29 16:01] banesullivan commented on #3224
Thanks, @dcbr! I'll take on handling the other import(s)

[2022-08-30 05:31] tkoyama010 opened #3233 "Add "Pyvista->PyVista" as a optional dictionaries of codespell"
### Describe what maintenance you would like added.

We can add "Pyvista->PyVista" as an optional dictionary of [codespell ](https://github.com/codespell-project/codespell#usage).
Inspired by #3231 .

### Links to source code.

`.codespellrc`
[code]
`dictionary.txt`
[code]

### Pseudocode or Screenshots

None

[2022-08-30 05:33] banesullivan commented on #3233
Handling directly in #3231

[2022-08-30 05:39] banesullivan commented on #3233
Nevermind. This doesn't seem to work. Codespell does not seem to support capitalization corrections.

[2022-08-30 05:43] tkoyama010 commented on #3233
That's too bad..

[2022-08-30 13:25] natter1 opened #3241 "Plotter.show(return_img) is broken"
### Describe the bug, what's wrong, and what you expected.

In `plotting.py` `Plotter.show()` is a bug preventing the `return_img` parameter from working when `return_cpos` is `False`:

[code]
Not sure whats the expected behaviour. Mybe `if return_img=True` and `return_cpos=False` only return the image?

### Steps to reproduce the bug.

[code]

### System Information

[code]

### Screenshots

_No

[2022-08-30 15:13] banesullivan commented on #3241
Oof yeah, that logic is off. This should be an easy fix! If you're up for it, feel free to take a go at fixing this. Otherwise one of the core devs will get around to this soon

[2022-08-30 16:35] akaszynski commented on #3241
This is a fairly high priority and easy fix. Will work soon. @natter1, is this for PyAnsys?

[2022-08-30 17:18] natter1 commented on #3241
@akaszynski yeah I found it via PyMAPDL. Would be nice if someone with a ready to go workflow would add a fix.

[2022-08-31 03:51] factoryofthesun commented on #2252
I have also been experiencing this issue on my Macbook M1. So far I've tried turning off the call to the `renderer.ResetCamera()` based off [this old discussion ](https://vtkusers.public.kitware.narkive.com/T0aFEBit/vtk-not-releasing-memory-including-minimal-example) as well as call the following after every `screenshot()` call but am still getting major memory leak.

[code]

[2022-08-31 16:16] banesullivan commented on #3164
Commenting here, but this is sort of feedback for #3242, cc @MatthewFlamm

I think we should rewrite `cast_to_pointset` and have it on the `DataSet` class as every dataset type does fundamentally have points that a user may want to extract. IMO, this should use PyVista's `points` property to access the points (avoiding the issue of data types with implicit points like `ImageData` that do not have

[2022-08-31 16:23] banesullivan commented on #3164
Prototype implementation:

[code]

[2022-08-31 16:27] banesullivan commented on #3164
There are a few other things we could/should do to that method. For instance, instead of running the `cell_data_to_point_data` and bundling all of it in the point data, we could still run that filter but place those data on the `cell_data` to differentiate their origin

[2022-08-31 16:34] MatthewFlamm commented on #3164
Your approach makes sense in general.

I'm not sure that there are valid cells in the base `vtkPointSet`.  The `GetNumberOfCellsMethod` states

[2022-08-31 16:39] banesullivan commented on #3164
Ah that's right, `PointSet` has no cells 🤦🏻‍♂️  ... for that, I'd be inclined to use `PolyData` unless there is significant overhead when compared to `PointSet`. I may want this scenario to be available as `cast_to_poly_points()`

[2022-08-31 16:50] banesullivan commented on #3164
The second implementation would look like:

[code]

[2022-08-31 17:18] rodrigomologni opened #3244 "Wireframe style is not coloring edges"
### Describe the bug, what's wrong, and what you expected.

Hi, developers! The parameter `color` in `add_mesh` is not working when `style="wireframe"`. I think the bug was introduced at #2941.

### Steps to reproduce the bug.

[code]

### System Information

[code]

### Screenshots

![image](https://user-images.githubusercontent.com/1608652/187728449-bee578c3-c4e9-4bd2-a56d-16be2b355e6b.png)

[2022-08-31 20:41] #2865 closed

[2022-08-31 20:41] #3096 closed

[2022-09-01 11:38] rajesh1359 opened #3253 "Export Scalar bars with export_html function"
### Describe the feature you would like to be added.

Hello,

Currently, the plotter.export_html function just exports the html file with mesh, rendering etc but it does not export scalar bars showing the values for the color range of the contours. Would it be possible to add this capability?
It is mentioned under the Caveats  here (https://docs.pyvista.org/user-guide/jupyter/pythreejs.html)

###

[2022-09-01 13:06] MatthewFlamm commented on #838
I find https://peps.python.org/pep-0565/ to be a bit confusing in recommendations. This section at first seems pretty cut and dry in which to use:

However, this part is contradictory:

[2022-09-01 18:27] akaszynski opened #3257 "Create pytest fixture for verify_image_cache"
We should really just make a pytest fixture context that sets `verify_cache_image` as the default `before_close_callback`... to do in a later PR though

_Originally posted by @banesullivan in https://github.com/pyvista/pyvista/pull/3248#discussion_r960877967_

[2022-09-01 21:52] adeak opened #3258 "Some docs pages seem misaligned"
In the devdocs I came across the docs of [`PolyData.is_manifold`](https://dev.pyvista.org/api/core/_autosummary/pyvista.PolyData.is_manifold.html?highlight=is_manifold#pyvista.PolyData.is_manifold). The page looks like this right now:

![screenshot with large gap above API doc section](https://user-images.githubusercontent.com/17914410/188018992-88bad18b-27cf-4d06-a818-1eb442c096a7.png)

Note the

[2022-09-01 23:51] akaszynski commented on #3258
My local documentation build is messed up as well. I have a hunch it's due to the `sphinx-panels` to `sphinx-design`migration. For that we'll need #3159.

[2022-09-02 01:22] tkoyama010 opened #3260 "Follow the documentation style in Expose more options of MultiBlockPlot3DReader (vtkMultiBlockPlot3DReader) #3150."
### Describe what maintenance you would like added.

`CellType` enumerate class #3115 is better to follow the documentation style in https://github.com/pyvista/pyvista/pull/3150.

### Links to source code.

None

### Pseudocode or Screenshots

None

[2022-09-02 15:12] #2850 closed

[2022-09-04 18:49] laysauchoa opened #3268 "Open an Issue when linkcheck fails"
### Describe the feature you would like to be added.

**Problem**
Recently, we have added linkcheck to run periodically, every week. However, someone has to go and look for the failed build and do the fixes. This could go unseen or unnoticed.

**Proposed solution**
Automatically open an Issue when the ``linkcheck`` fails. So we can better monitor it and fix it. We can also assign to some of the ma

[2022-09-04 18:58] adam-grant-hendry commented on #1768
@akaszynski @banesullivan @adeak @tkoyama010 @MatthewFlamm This seems to break depending on dataset size. e.g.

[code]

However, I have no problem pickling the numpy array by itself to file (this is 3.7 GB).

[2022-09-04 19:00] adam-grant-hendry opened #3269 "Pickle Crashes for Large Data"
### Describe the bug, what's wrong, and what you expected.

`pickle` crashes for large data.

### Steps to reproduce the bug.

[code]

However, I have no problem pickling the numpy array by itself to file (this is 3.7 GB).

### System Information

[code]

### Screenshots

_No response_

[2022-09-04 19:02] MatthewFlamm commented on #1768
Have you tried the more modern xml dataset writer?

[2022-09-04 19:04] adam-grant-hendry commented on #3269
@akaszynski `VtkErrorCatcher` doesn't output any results, so I can't debug from python. The writer is on the C++ side in a DLL.

[2022-09-04 19:14] tkoyama010 commented on #3268
It is  a great idea to have auto Pull Requests. We always welcome your contribution.

[2022-09-04 19:18] laysauchoa commented on #3268
@tkoyama010 this would be more like an issue saying that it failed, not the pull request with the fix.

[2022-09-04 19:24] tkoyama010 commented on #3268
I'm sorry. I misunderstood your suggestion (I was imagining something like dependabot.). In this case, I also think Issue would be better.

[2022-09-04 19:28] tkoyama010 commented on #3268
First of all, we don't know the correct URL automatically :sweat_smile:

[2022-09-04 21:28] adeak commented on #1768
@adam-grant-hendry it's generally more helpful to be more specific than "breaks"/"crashes". How does it break? How does it crash? Is there a segfault? An exception? Do you have a traceback? These are key details if you post the same thing in multiple places, pinging the same 5 people.

I'd see for myself but this snippet cut through my free 8 gigs of RAM, taking out my laptop. Technically crashing

[2022-09-04 23:00] whophil commented on #1768
I would also try this - I believe @MatthewFlamm is referring to https://vtk.org/doc/nightly/html/classvtkDataSetWriter.html.

There is (or perhaps _was_) a bug which made it impossible to use `vtkXMLDataSetWriter` in the binary pickling code when it was implemented - see https://github.com/pyvista/pyvista/pull/1778#issuecomment-960433089. Specifically, that writer was not able to write to string.

[2022-09-05 06:23] adam-grant-hendry commented on #1768
Not to be rude, truly, but this ain't my first rodeo. Also, unlike the average Joe, I do contribute PRs.

Regardless, this is about as bad as it gets. There is no segfault, exception, or traceback. It simply stops running. Consequently, I do believe this is a problem on VTK's end.

[2022-09-05 06:25] adam-grant-hendry commented on #1768
@adeak You're also welcome to try the example I provided. You will see there is very little to go off of with the end result.

[2022-09-05 14:45] MatthewFlamm commented on #1768
I think @adeak comment could have separated better between the ask for more information and asking for better consideration of the people being pinged. This is my interpretation of the comment. Although I agree with both points separately.

The pinging seems nonspecific here and misses key contributors to this functionality.  Large amounts of pings should be reserved for when there is a critical b

[2022-09-05 15:43] adeak commented on #3269
Having taken a closer look at this issue (with more information than the other comments I've been pinged on), let me amend my previous comment:
1. I now see this is a Windows machine, so OOM killing doesn't enter the picture. I'm not familiar with Windows, but my vague understanding is that processes can still be terminated if it requests more memory than available.
2. I now also see that you have

[2022-09-05 16:02] adam-grant-hendry commented on #1768
I should have read the rest of your comment that trying to test would have crashed your laptop! My bad!

[2022-09-05 18:08] adam-grant-hendry commented on #3269
Yes. When debugging, I find it crashes when it hits `writer.Write()` every time; it never gets to `pickle.dump`.

On average, I tend to have at least 120 GB free available to use. This is an FEA and AI machine, so it is beefy.

![image](https://user-images.githubusercontent.com/59346180/188498779-a6ce1855-9156-4317-bc99-d284ea3d1e0c.png)

Here is a copy of my system info I generated in [PR #3170](

[2022-09-05 18:20] adam-grant-hendry commented on #1768
Thank you for this suggestion. I will try it out if I have time.

At the moment, I am interested in pickling for serialization/marshaling (similar to that mentioned by the [OP](https://github.com/pyvista/pyvista/issues/1768#issue-1041129686)), but I will take a look.

I find it interesting that I can pull the `numpy` points dataset and pickle that to file without issue, but that [`writer.Write()`

[2022-09-05 19:33] whophil commented on #3269
@adam-grant-hendry does it also crash if you use `vtkDataSetWriter` to write to a file instead of a string?

[2022-09-05 21:30] adeak commented on #3269
I'm struggling to find what's going on in VTK, for what it's worth. [`vtkDataSetWriter`](https://vtk.org/doc/nightly/html/classvtkDataSetWriter.html) only seems to have a `WriteData()` method, but no `Write()`. [Its `WriteData()` method](https://gitlab.kitware.com/vtk/vtk/-/blob/master/IO/Legacy/vtkDataSetWriter.cxx#L35) dispatches to [a `vtkStructuredPointsWriter`](https://gitlab.kitware.com/vtk/

[2022-09-05 22:21] whophil commented on #3269
`vtkDataSetWriter.Write()` is inherited from `vtkWriter` (see https://vtk.org/doc/nightly/html/classvtkDataSetWriter-members.html)

[2022-09-06 04:43] whophil commented on #3269
@adam-grant-hendry with one modification, the snippet you posted runs fine on my machine which has much less memory than yours, producing a 3.5 GB file.

Change
[code]

to
[code]

This method is used in the pickling code of PyVista, not `GetOutputString`.
https://github.com/pyvista/pyvista/blob/cf5b340201d68a0402e688d5ac40fe46aaeb7b99/pyvista/core/dataobject.py#L545

@adeak I think you'll find tha

[2022-09-06 04:49] whophil commented on #1768
To respond to myself - I looked into this a bit, and it seems like it would be a one-line change in VTK to get `vtkXMLDataSetWriter` working for our use cases. I opened this issue on the VTK tracker https://gitlab.kitware.com/vtk/vtk/-/issues/18661. Even with the fix merged today, it would likely be some time before this change made its way into the official VTK wheels and non-official conda packa

[2022-09-06 11:24] jorgensd opened #3274 "`pyvista` (`pythreejs` or `ipygany` backend) incompatible with `ipywidgets>7.7.2.`"
### Describe the bug, what's wrong, and what you expected.

The jupyter backend `pythreejs` does not work with the newest release if `ipywidgets`. No plot is produced

### Steps to reproduce the bug.

[code]

[code]
Downgrading `ipywidgets` resolves the issue.

### System Information

[code]

### Screenshots

![ipywidgets](https://user-images.githubusercontent.com/8554300/188623720-1b90cb9f-099d-4

[2022-09-06 11:28] jorgensd commented on #3274
Similar issue with `ipygany` as jupyter backend

[2022-09-06 16:01] whophil commented on #3269
@banesullivan I am also a bit confused by this particular snippet. I assume it was just written to debug why pickling a `DataObject` was failing, but after looking at your referenced thread, I see that may not be the case.

@adam-grant-hendry could you explain what you are trying to do?

Nearly all of the code you have written in the snippet is built into `DataObject` now, implemented by `DataObje

[2022-09-06 16:31] dcbr opened #3278 "Toggling chart interaction in multi-window plot fails"
Slightly modified example from the original discussion thread to reproduce the issue.

[code]

Expected behaviour: all charts should become (non-)interactive after a double click.
Actual behaviour: only the bottom most chart correctly becomes (non-)interactive on a double click. The others remain in their initial state (non-interactive).

_Originally posted by @apaaris in https://github.com/pyvist

[2022-09-06 20:23] adam-grant-hendry commented on #3269
@whopil [got there before me](https://github.com/pyvista/pyvista/issues/3269#issuecomment-1237500285), but `vtkDataSetWriter` is a sublcass of `vtkWriter` and `Write()` is a public virtual method of `vtkWriter`. Since it's not pure virtual, this means it has a default implementation. The source is [here in IO/Core/vtkWriter.cxx](https://gitlab.kitware.com/vtk/vtk/-/blob/master/IO/Core/vtkWriter.cx

[2022-09-06 21:10] adeak commented on #3269
To focus on the issue at hand (as in pyvista issue), I'd like to recap:
1. [the snippet in the original comment here](https://github.com/pyvista/pyvista/issues/3269#issue-1361227150) crashes for @adam-grant-hendry on windows
2. it runs fine for @whophil on a system with much less memory ("runs fine" meaning `writer.Writer()` returns successfully).
3. since all of this is VTK, this is a potential V

[2022-09-07 04:18] adam-grant-hendry commented on #3269
@adeak I'm in agreement. I've modified the snippet to be just ``VTK 9.1`` without pickling, and it still crashes for me

[code]

Starting at 42.5 GB RAM

![image](https://user-images.githubusercontent.com/59346180/188787583-ad962015-d1a8-4b58-998f-9589521b8418.png)

the program ramps up memory at `writer.Write()` to 58.5 GB

![image](https://user-images.githubusercontent.com/59346180/188787645-afd

[2022-09-07 05:27] whophil commented on #3269
Thanks @adam-grant-hendry. That snippet now fails on my machine after 2 minutes or so of trying. Somehow I was able to write a 3.5 GB file yesterday, but I don't know what exactly is different now.

If I tell the `vtkDataSetWriter` to write to file instead of string, the file it produces is 28 GB. This doesn't seem right.

Finally, if I use the appropriate XML writer, I am able to get past `writer

[2022-09-07 16:15] banesullivan commented on #3269
I wonder if we should not use `vtkDataSetWriter` and stick with appropriate XML writer (meaning we'd need to implement `__getstate__` for each datatype

[2022-09-07 16:25] banesullivan commented on #3268
@laysauchoa, I think this is a great idea. Would you be willing to take this on?

I believe there are GitHub Actions that can open an issue like this easily.

I would set up the CI on a cronjob which:

1. runs link check and captures output as text
2. if fails, opens the issue with error text as body of the issue

[2022-09-07 16:51] #2577 closed

[2022-09-07 18:56] whophil commented on #3269
I guess mentions in discussions don't get cross-referenced. Some benchmarking of pickling with XML writers here:
https://github.com/pyvista/pyvista/discussions/3279

[2022-09-07 21:36] DanielJamesEvans opened #3282 "ipyvtklink plots not visible"
I have code that plots with `ipyvtklink` and Jupyter Notebook.  My code worked fine until earlier today.  But now, when I try plotting, no output appears.  However, I get a plot when I use `static` instead.

The invisible-plot issue isn't unique to me; it's mentioned in https://github.com/pyvista/pyvista/discussions/2040 and https://github.com/pyvista/pyvista/discussions/3207.

Here's the output o

[2022-09-08 08:34] adeak commented on #3268
@laysauchoa humbly didn't link to it, but we already have https://github.com/pyvista/pyvista/pull/3166 thanks to them :) this machinery could be upgraded to open the issue.

[2022-09-08 09:16] WesleyTheGeolien commented on #2252
@AnvarAtayev @RichardScottOZ I wrote some code here: https://github.com/pyvista/pyvista/issues/2577#issue-1230912097

that checks object size before and after running the code, maybe you could run it in your cases to see of there are any objects that are lingering in python memory

[2022-09-08 15:36] banesullivan opened #3288 "Examples gallery need to run as a standalone CI check"
### Describe what maintenance you would like added.

All too often do we find regressions from the examples gallery because we don't actually run the gallery as a CI check.

The "Documentation" CI workflow is not a good indicator of success for most actual code changes as the examples gallery is cached and only run *if* a given example is modified.

This means that big internal refactors (like #32

[2022-09-08 15:38] banesullivan commented on #3288
One last thing: we need to stick with using sphinx-gallery if possible and implement image comparison in the scraper much like what is done in the plotting unit tests which would help catch issues like #3287

[2022-09-08 16:30] larsoner commented on #3288
This has been discussed but not implemented: https://github.com/sphinx-gallery/sphinx-gallery/issues/25 . It would be great if someone wanted to work on it!

One way to hack this would be to run a Sphinx build but hook into an event that allowed you to kill the build after gallery generation completed, but before it translates all the RST to HTML. Sphinx-gallery actually runs at builder init time:

[2022-09-08 21:44] RichardScottOZ commented on #2252
Thanks Wesley, will see if I can try it on the weekend.

[2022-09-08 22:06] akaszynski commented on #2252
This should be partially dealt with on the `main` branch. We've eliminated the need to deep clean and aside from dynamically creating classes (it's on the short todo list) we should have the memory issue taken care of. I'd appreciate if you could checkout `main` and let me know if it solves the issue for you as well.

[2022-09-09 00:16] adam-grant-hendry commented on #3180
Adding this here so I don't forget: I wonder if we use `weakref` anywhere in the code base...?

[2022-09-09 12:41] leo2r commented on #2252
So I've been having the same problem for ages, and actually just managed to fix it now! I was creating a new Plotter instance in my method that was getting called at each step, and instead I took it out and made it a Class variable and just call ```pl.clear()``` at the start of the method. So my code now looks like this:

[code]

It seems like there's no more memory hogging now and my code that us

[2022-09-09 13:56] harshamarupudi56 opened #3290 "Pyvista Boolean Operations Issues"
### Describe the bug, what's wrong, and what you expected.

I was working with boolean difference between two objects generated in pyvista. This code was initially working no problem but now I am getting this error message

[code]

I had done nothing to change this code from the example in the docs and it has worked previously.

### Steps to reproduce the bug.

[code]

### System Information

[cod

[2022-09-09 16:15] gbene opened #3292 "VTK data type (vtkPointSet) is not currently supported by pyvista."
### Describe the bug, what's wrong, and what you expected.

Hi!

When I create a vtkPointSet object I am unable to plot it using the pyvista.Plotter() even though PointSets are now ufficially supported.
In fact when creating a pyvista.PointSet() instance and doing a ShallowCopy of the vtkPointSet everything runs as intended.
Is this normal?
I'd rather not use the ShallowCopy route since in my case

[2022-09-09 16:16] akaszynski commented on #3292
We should add this. Should be an easy PR.

[2022-09-09 16:23] banesullivan commented on #3292
Does add mesh not fallback to `pv.wrap()`? I'm curious where this warning is coming from

[2022-09-09 17:16] MatthewFlamm commented on #3292
It looks like PointSet wasn't added to list of wrappable vtk objects:

https://github.com/pyvista/pyvista/blob/4b3eaffb7c975f929503a2170f1e01c34670bed8/pyvista/utilities/wrappers.py#L25-L36

[2022-09-09 21:15] banesullivan commented on #3292
Then this should be a 1 line fix

[2022-09-09 21:47] banesullivan opened #3293 "Filters should never modify the source data!!"
### Describe the bug, what's wrong, and what you expected.

A handful of filters are modifying their source/input data which is a violation of the VTK and PyVista design/architecture

For example, the `glyph` filter set's the active scalars on the input mesh:

https://github.com/pyvista/pyvista/blob/4b3eaffb7c975f929503a2170f1e01c34670bed8/pyvista/core/filters/data_set.py#L2014

This is not how an

[2022-09-09 21:48] banesullivan commented on #3293
@whophil, also had a great suggestion that will have to be raised in another issue that we could verify with pytest that no mesh is modified by a filter

[2022-09-09 22:04] banesullivan commented on #3268
Ah, thanks for pointing that out @adeak, and thank you @laysauchoa for already implementing most of this!

[2022-09-10 15:49] gbene commented on #3292
I applied locally the fix by adding to the wrappers.py file the line:
[code]
When running the code to plot vtkPointSet the following error occurs:

    raise TypeError('Points must be a numeric type')
   TypeError: Points must be a numeric type

[2022-09-11 15:09] jorgepiloto opened #3294 "Duplicated ray tracing example in docs"
🐞 **Problem**
The [Examples section](https://docs.pyvista.org/examples/index.html) in the official docs is showing the same examples for ray tracing:

- Ray Tracing I: https://docs.pyvista.org/examples/01-filter/poly-ray-trace.html
- Ray Tracing II: https://docs.pyvista.org/examples/99-advanced/ray-trace.html

💡 **Solution**
Decide which of the two examples must be kept and remove the other.

[2022-09-11 21:54] adeak commented on #3290
I can't reproduce this issue on a similar setup:
[code]

The complete snippet I used:
[code]

Can you say something more about what you're doing? Your report says "IPython": are you running these lines as a single cell? Or running a script via `%run`? Something else?

And when you say it "was initially working", are you sure nothing changed in the script, or in the environment? Have you restarted

[2022-09-11 23:34] banesullivan commented on #3294
Thanks for pointing this out! I remember this example being a bit more sophisticated, perhaps that's why there is a duplicate in the `99-advanced` section which expanded on the simpler version in `01-filter`

I believe I'm thinking of https://docs.pyvista.org/user-guide/optional_features.html#vectorised-ray-tracing

I think it'd be nice to expand the "advanced" example along the lines of this

[2022-09-11 23:35] banesullivan commented on #3292
Huh, maybe this isn't as straightforward... we will investigate and get a fix out soon!

[2022-09-12 04:50] astroboylrx commented on #3274
Thanks a lot for finding this! Experimenting with `pyvista` with `pythreejs/ipygany` but obtained zero plot at all regardless of Mac/Win/Linux and various browsers has been super frustrating for me in the past few days.

I did try `panel`. But the bug mentioned in holoviz/panel/issues/2429 has been halting me from using it (I'm trying to visualize some local data in `vtk` files).

Thanks again!

[2022-09-12 15:23] #2972 closed

[2022-09-12 15:41] tkoyama010 opened #3301 "jpg file load error of `load=True`."
We had an error of `load=True` when we read the jpg file.

_Originally posted by @adeak in https://github.com/pyvista/pyvista/pull/2994#discussion_r950700158_

[2022-09-12 15:56] #3301 closed

[2022-09-12 16:04] MatthewFlamm commented on #3292
These are very informative reports @gbene.  `pyvista.PointSet` also currently doesn't support being directly initialized with a `vtkPointSet` object.  It only currently supports a numpy ndarray like object, which isn't consistent with the rest of the API here.  I _think_ that after this is added, it should work.

https://github.com/pyvista/pyvista/blob/7d65054dff4717338519e73d287c7709caef1b20/pyvi

[2022-09-12 22:48] fanzongyue1991 opened #3302 "Camera.elevation does not work as expected"
### Describe the bug, what's wrong, and what you expected.

Hello,

I'm trying to implementing a function of rotating the camera down and up to show different angles of the actor using PyVista. I use the code like pl.camera.elevation += 30, and I start from elevation equal to 0. It works well at beginning, then when the total elevation is >= 90 degree, the behavior becomes unpredictable. It seems

[2022-09-13 12:38] rodrigomologni opened #3309 "Callback errors"
### Describe the bug, what's wrong, and what you expected.

[code]

### Steps to reproduce the bug.

[code]

### System Information

[code]

[2022-09-13 13:05] MatthewFlamm commented on #3293
I have run into cases where `SetInputArrayToProcess` leads to a bug when multiple filters of the same type are applied sequentially.  See #1463 and #1465.  Using `active_scalars` fixed that bug.

I'm suspicious that by removing the pipeline model in vtk here, there may be some subtle issues.  Or this could just be an isolated bug in vtk?

[2022-09-13 16:20] skoldobskiy opened #3312 "Log scale color mapping for volume plotting"
### Describe the feature you would like to be added.

Hi!
I am pretty sure that the `log_scale` option for the volume plotting will be really good thing to add.
But I have no idea how simple or hard to add it into the code.

### Links to VTK Documentation, Examples, or Class Definitions.

_No response_

### Pseudocode or Screenshots

_No response_

[2022-09-13 16:24] banesullivan commented on #3312
+1

I did not realize that `log_scale` was not a part of `add_volume`. The `add_volume` method is overdue for a refactor, so hopefully we can knock this out before too long

[2022-09-13 16:43] #3309 closed

[2022-09-13 16:56] banesullivan opened #3313 "Improving consistency of `__init__` parameters / moving towards VTK"
Several of the `__init__` methods in PyVista DataSet classes, while thoughtfully designed, are a little removed from what a typical VTK user might expect and are also inconsistent with the very attributes/properties being set. Take `UniformGrid` for example (actually, UniformGrid, while designed and implemented mostly by me is a hot mess that needs to be dealt with):

The `__init__` for `pyvista.U

[2022-09-13 18:59] banesullivan opened #3314 "Migrating helper/utility code out of the `core` subpackage and reorganizing"
I would like us to move in a direction such that the `core` subpackage focuses on strictly wrapping the VTK data object types and implementing filters (with filters being nested in a sub-sub-package as they are now). We've done a great job of this so far, but a few artifacts have slipped by that seem out of place. Namely:

- `pyvista/core/common_data.py`: Why is this in the `core` module? The sing

[2022-09-13 22:25] adeak commented on #3314
I see the purity argument behind following VTK's inheritence tree, but then again having a tree like
[code]
is not a bit less confusing than the current setup unless you already know how VTK stuff are structured. Uniform grids outside pointset, and called `image.py`, structured/unstructured inside pointset, rectilinear again outside... I understand that this corresponds to the diagram you showed,

[2022-09-13 22:50] adam-grant-hendry opened #3316 "How to Remove Checkbox Button Widget"
### Discussed in https://github.com/pyvista/pyvista/discussions/3303

If I want a `checkbox_button` to do something, then go away when it's done, how can I do that? Trying below, the hand cursor lingers and the button doesn't disappear until the next click (i.e. next render):

[code]

https://user-images.githubusercontent.com/59346180/190022822-f0269116-0b24-42ca-9350-b6d5c0dbf44f.mp4

[2022-09-13 22:59] adam-grant-hendry commented on #3314
In addition, when `VTK` moved the Python modules from `vtk` to `vtkmodules` and separated classes into different submodules, it got even harder to figure out where things are. I had to implement [this script](https://stackoverflow.com/questions/73340819/where-can-i-find-information-about-the-classes-in-vtkmodules/73340820#73340820) to help me find out where classes are located:

[code]

[vtkmodule

[2022-09-13 23:03] adeak commented on #3314
@adam-grant-hendry for what it's worth we at least have `pyvista.vtk_version_info`.

[2022-09-14 00:02] adam-grant-hendry commented on #3314
Yeah, I'm pretty sure I stole the implementation of my `get_vtk_version()` from that 😉 .

@adeak I tend to agree with you. Not only is there a difference between the structure of `pyvista` and `VTK`, but there is a difference in the layout of the module bindings from `VTK <8.2` and `VTK >=8.2` (see the [Python Wrappers docs](https://vtk.org/doc/nightly/html/md__builds_gitlab_kitware_sciviz_ci_Docu

[2022-09-14 02:54] adam-grant-hendry opened #3317 "Cell Picking Enabled Only for Last Actor Added to Plotter"
### Describe the bug, what's wrong, and what you expected.

Following the [Enable Cell Picking Example](https://docs.pyvista.org/api/plotting/_autosummary/pyvista.Plotter.enable_cell_picking.html?highlight=cell+picking#pyvista.Plotter.enable_cell_picking), I found only the last actor added to the plotter is enabled for cell picking, with or without `pickable=True`).

This smells of #3180 ...

###

[2022-09-14 02:57] banesullivan commented on #3317
Hm. I haven't verified this but if so, this is a regression we can fix

[2022-09-14 02:57] adam-grant-hendry commented on #3100
@akaszynski Could you please add #3317 to this list?

[2022-09-14 03:33] adam-grant-hendry opened #3319 "Detailed Volume Rendering Documentation"
### Describe the feature you would like to be added.

I wrote some documentation on the basic theory behind (direct) volume rendering. I think this would be good to add to our documentation. There are certainly more references than those I listed, but I think this is good enough for now and we can add to it if needed in the future.

In particular, it

### Links to VTK Documentation, Examples, or C

[2022-09-14 03:35] banesullivan opened #3320 "UniformGrid -> ImageData"
A long, long time ago, I made the decision (ref #24) to call PyVista's wrapping of `vtkImageData` `UniformGrid` -- this decision made a lot of sense at the time and was intuitive to me, my colleagues, and the users of PyVista at the time. Unfortunately, this is at odds with the `vtkUniformGrid` class. Further, PyVista is seeing massive growth lately and more adoption from the VTK community, and I

[2022-09-14 03:57] adam-grant-hendry commented on #3320
Love the effort going into this! I definitely want dibs on helping with the impacts to volume rendering on this 😉

[2022-09-14 04:09] adam-grant-hendry opened #3322 "Cythonize Critical Portions of Code"
### Describe the feature you would like to be added.

I would like to improve speed and efficiency of relevant parts of the code base by Cythonizing them. We can probably use our GitHub Actions workflows to compile relevant code for various OS's.

I'd like to get feedback from the developers to see if they think this would be good to do and begin creating a list of segments of the code base that c

[2022-09-14 04:24] banesullivan commented on #3322
I would like to ***highly*** advocate for any cythonized extensions to be isolated in downstream `pyvista-<subpackage>` packages that users can opt in to. One of PyVista's key offerings is the fact that it is ***pure*** python on top of VTK. This is a hard requirement for many downstream projects as well as ongoing efforts to gain more adoption from the VTK community.

[2022-09-14 04:25] banesullivan commented on #3322
Would you please highlight exactly what parts you are referring to?

[2022-09-14 04:35] banesullivan commented on #3319
This is really nice!! Would you be up for creating an example in the gallery under the "advanced" section (`examples/99-advanced/`) that walks through this and creates visualizations using PyVista?

[2022-09-14 04:41] banesullivan commented on #3316
I would say call `update()` or `render()` on the plotter in the callback but this isn't working.... further, I'm noticing the kernal crash after closing the plotter.

I'm going to mark this as a bug as the `clear_button_widgets()` is not working as expected.

[2022-09-14 04:42] banesullivan commented on #3100
Done

[2022-09-14 06:08] adam-grant-hendry commented on #3319
@banesullivan I would be delighted! Happy to contribute 😄

[2022-09-14 14:23] adam-grant-hendry commented on #3316
I have also experienced random crashes as well...😞

[2022-09-14 15:21] jorgepiloto opened #3324 "Consider implement a pyvista.testing module"
🐞 **Problem description**
For libraries depending on PyVista, it would be interesting to have some utility for validating PyVista figures. This would allow to maintain or even increase code coverage on these libraries.

📝 **Background**
So far, PyVista validates its `Plotter` class through the [verify_cache_image](https://github.com/pyvista/pyvista/blob/6aedb562ee8aeebba90fe163b757bd6a355b40a0/tes

[2022-09-14 15:58] whophil commented on #3269
This is closed with #3286

[2022-09-14 16:00] banesullivan commented on #3269
@whophil, do you not have the power to close issues? Because you ought to have that

[2022-09-14 16:00] #3269 closed

[2022-09-14 16:42] jorgepiloto opened #3325 "Customization limitations when creating a pyvista.Axes actor"
🐞 **Problem**
While working on a project, I required to customize and render the axes of a reference frame. From the official documentation, I saw the following functions and classes:

**Plotter.add_axes**

[code]

**Plotter.add_axes_at_origin**

[code]

**pyvista.Axes**

[code]

**pyvista.plotting.tools.create_axes_marker**
[code]

💡 **Exposing customization options into the pv.Axes class**
From

[2022-09-15 16:06] MatthewFlamm opened #3333 "Add tests for `vtk_points`"
`pyvista.vtk_points` doesn't have unit tests.  #3311 adds some tests, but there is more functionality to test more fully, including `force_float`.

_Originally posted by @MatthewFlamm in https://github.com/pyvista/pyvista/issues/3311#issuecomment-1248276490_

[2022-09-15 17:22] laysauchoa commented on #3268
Opening the issue works fine but I tried to catch the output from previous steps to add to the body of the issue and does not work because the GitHub action that I use for the issue does not support such a long output. I am trying to find an alternative for that, but so far nothing worked.

[2022-09-15 17:33] banesullivan commented on #3268
Do you have a prototype of the code pushed somewhere? I'd be happy to help

[2022-09-16 14:50] banesullivan commented on #2340
Pretty sure this was resolved by https://github.com/pyvista/pyvista/pull/3208

[2022-09-16 14:50] #2340 closed

[2022-09-16 16:21] #2959 closed

[2022-09-16 16:21] #3292 closed

[2022-09-16 17:07] lsawade commented on #3175
Seems to not be an issue anymore!

[2022-09-16 17:07] #3175 closed

[2022-09-16 23:42] tkoyama010 opened #3335 "Part of the "Plot all linear cell Types figure" is blacked out."
### Describe the bug, what's wrong, and what you expected.

Part of the "Plot all linear cell Types figure" is blacked out.
![sphx_glr_linear-cells_004](https://user-images.githubusercontent.com/7513610/190830833-c7e33351-4b71-44e8-bc56-c268e61de2a1.png)

### Steps to reproduce the bug.

See https://dev.pyvista.org/examples/00-load/linear-cells.html#plot-all-linear-cell-types

### System Informati

[2022-09-18 00:29] aidanmolnar opened #3339 "export_vtkjs Does not Include PolyData Normals"
### Describe the bug, what's wrong, and what you expected.

Line 362 (shown below) of export_vtkjs that dumps the normals is commented out, causing them not to be included in the file.
[code]

I expected the normals to be included in the output .vtkjs, but they were not.

I think the line should be uncommented by default or an optional argument could be added to the function.  If the feature isn't

[2022-09-19 23:59] laysauchoa commented on #3268
@banesullivan I did with another forked repo cause pyvista takes too long to run. I've the fork here and everything is in the main: https://github.com/laysauchoa/devportal-forked/actions

The main problem is writing the output into the issue body. Now, I am thinking if I need to use github cli or something. I've tried the following options for github action to create an issue:

https://github.com/

[2022-09-20 08:51] panziyi1 commented on #2475
It there any progress here? Since it's been such a while..no offence

[2022-09-20 15:14] banesullivan commented on #2475
This isn't of the highest priority AFAIK... while it would be "nice", it's a rather challenging problem that will require a lot of other work to better "transfer/convert" a VTK render window to VTK.js so that a critical mass of the examples can be meaningfully interactive. Anything with special rendering techniques or with certain actors like bounds likely won't be able to be interactive in the br

[2022-09-20 18:34] MatthewFlamm opened #3347 "Optional parameters that are not documented as optional"
### Describe what maintenance you would like added.

Optional parameters for a function should be documented in numpydoc style.

### Links to source code.

See below

### Pseudocode or Screenshots

Using the branch from https://github.com/numpy/numpydoc/pull/431 specifically https://github.com/numpy/numpydoc/pull/431/commits/83c4830009362a3be42f1255286bfd0bb364023a

yields a list of parameters tha

[2022-09-21 09:01] panziyi1 opened #3348 "pythreejs backend not showing grid in jupyterlab"
### Describe the bug, what's wrong, and what you expected.

**Problem description:** I am trying to plot a cube along with grid and axes in jupyterlab, with pythreejs backend. The cube and axes were successfully plotted while grid plotting failed.

### Steps to reproduce the bug.

Just run the following code in jupyterlab.
[code]

### System Information

[code]

### Screenshots

![1663750657(1)](h

[2022-09-21 15:54] banesullivan opened #3349 "test_reader.py is fully skipped on Mac CI"
But is it a problem that we do this here:

https://github.com/pyvista/pyvista/blob/7d65054dff4717338519e73d287c7709caef1b20/tests/utilities/test_reader.py#L12-L14

Are we then skipping this whole module on Mac? Also the fact that it says "Azure" there probably means this is super old and needs to be cleaned up

_Originally posted by @banesullivan in https://github.com/pyvista/pyvista/pull/3218#dis

[2022-09-21 16:16] MatthewFlamm commented on #3349
This was added in #1896 based off of this comment:

https://github.com/pyvista/pyvista/pull/1896#issuecomment-1001865280

[2022-09-21 17:04] banesullivan commented on #3349
Thanks for digging that up!

[2022-09-21 18:37] akaszynski opened #3350 "Plotter objects ought to be useable across cells"
I really don't like this logic... `Plotter` objects ought to be useable across cells. We should consider fixing this in the SG scraper

_Originally posted by @banesullivan in https://github.com/pyvista/pyvista/pull/3336#discussion_r976627217_

[2022-09-22 03:12] harshamarupudi56 commented on #3290
Hello sorry for the late response.

I am running the script in Spyder not sure why it is saying iPython. I have restarted spyder, and the environment. So what appears to be happening is when I try to run this line of code in a new script I do not have this issue.

But when I run this code in a previously saved script I return the error message that had appeared above. I had had read about issues w

[2022-09-22 16:36] banesullivan commented on #3348
`pythreejs` cannot plot the axes grids - it's simply not a capability of that library or threejs AFAIK without a bit of custom logic

[2022-09-22 16:40] banesullivan commented on #3348
I added the `wontfix` label here because we do not plan to continue supporting the `pythreejs` notebook rendering backend moving forward. We are still working on a plan and building a new notebook rendering backend that will be more feature rich and will leverage VTK.js for client-side rendering.

[2022-09-22 16:53] banesullivan commented on #3335
This isn't great... I belive it has to do with `enable_anti_aliasing()`

[2022-09-22 16:55] banesullivan commented on #3339
Thanks for digging into this! I'm not sure why that line is commented out... I'd welcome a PR uncommenting that line where we can validate things are still working in the tests and in a review

[2022-09-23 01:18] panziyi1 commented on #3348
Thanks, that's rather clear.  Problem solved so I just close this one.

[2022-09-23 01:18] #3348 closed

[2022-09-24 19:41] snehasreec opened #3360 "Pyvista using pythreejs no error but not displaying any output:"

[2022-09-24 19:45] snehasreec commented on #3360
pyvista report:
OS : Linux
CPU(s) : 32
Machine : x86_64
Architecture : 64bit
RAM : 62.7 GiB
Environment : Jupyter
File system : ext4
GPU Vendor : Mesa/X.org
GPU Renderer : llvmpipe (LLVM 12.0.0, 256 bits)
GPU Version : 4.5 (Core Profile) Mesa 21.2.6

Python 3.8.10 (default, Jun 22 2022, 20:18:18)  [GCC 9.4.0]

pyvista : 0.34.1
vtk : 9.1.0
numpy : 1.22.4
imageio : 2.21.1
appdirs : 1.4.4
scooby : 0.

[2022-09-24 19:51] snehasreec commented on #3360
Following are some of the installed packages in the environment
Package                 Version
----------------------- --------------------
ipydatawidgets          4.3.2
ipykernel               6.15.1
ipython                 8.4.0
ipython_genutils        0.2.0
ipywidgets              7.7.1
jupyter                 1.0.0
jupyter-client          7.3.4
jupyter-console         6.4.4
jupyter-core

[2022-09-24 23:37] adeak commented on #1743
Cross-posting for visibility: triangulating your meshes will probably help with the artifacts (but there's a chance some might stick around based on some of the comments here). See https://github.com/pyvista/pyvista/pull/3361 where I'm trying to address this.

[2022-09-25 00:13] cuesy commented on #3360
I'm also experiencing the same issue

[2022-09-25 00:50] cuesy commented on #3360
UPDATE: For the problem was using the most recent version of ipywidgets (8.0.2). I followed the steps described here: https://github.com/pyvista/pyvista/issues/3274

[2022-09-25 04:45] snehasreec commented on #3360
I cannot see anything with ipyvtklink as well

[2022-09-26 08:32] cuesy commented on #3253
Hello! Any news on this?

[2022-09-26 17:07] banesullivan commented on #3274
@pyvista/developers, we ought to try to uncover what's going wrong here... I've had a few colleagues use PyVista lately and run into this issue needing to downgrade `ipywidgets`. If we cannot track it down, should I pin/limit the version of ipywidgets in `ipyvtklink` directly?

[2022-09-26 17:10] banesullivan commented on #3253
Still on our radar but no progress yet. Thank you for being patient

[2022-09-26 17:26] snehasreec commented on #3360
I still cannot view any output, following are my jupyter labextension list:
jupyter labextension list                                                            JupyterLab v3.4.7
/home/snehasree/.local/share/jupyter/labextensions
        open3d v0.13.0 enabled OK (python, open3d)
        jupyterlab-datawidgets v7.1.2 enabled OK
        jupyterlab_pygments v0.2.2 enabled OK (python, jupyterlab_pygm

[2022-09-26 20:57] adeak commented on #3274
I don't see a reason why we shouldn't do that. If the functionality flat-out doesn't work with that version then this is exactly the kind of incompatibility that we have version pins for.

[2022-09-26 22:07] akaszynski commented on #3274
Would it be better to raise this in https://github.com/jupyter-widgets/pythreejs? I'm guessing that the issue is actually with `pythreejs` and not `pyvista`.

@banesullivan, this really emphasises the need to have a solid jupyter widget from either Kitware or PyVista.

[2022-09-26 22:08] akaszynski commented on #3274
I bet there's a VTK object that doesn't support `GetPoints`. Can you create a minimum working example for them? I can't reproduce anything from the example.

[2022-09-27 16:17] banesullivan commented on #3274
I just pushed out `ipyvktlink==0.2.3` which pins `ipywidgets` to `~=7.7` to help mitigate these issues (at least for ipyvtklink)

[2022-09-28 10:20] lewisfish opened #3376 "Core dumped on plotting mesh read from OBJ file"
### Describe the bug, what's wrong, and what you expected.

On reading an obj file with verticies and line elements, pyvista is able to read the file okay, but crashed on plotting.

I'm able to plot mesh information but not plot the mesh. print(mesh) gives:

[code]

Stack trace from GDB

[code]

### Steps to reproduce the bug.

Using the follwing script and [obj file](https://gist.github.com/lewis

[2022-09-28 11:47] Gustafferson opened #3380 "Plotter should redraw chartMPL instances if axes is modified with set_xxxx"
### Describe the feature you would like to be added.

In the [chart overlays](https://docs.pyvista.org/examples/02-plot/chart_overlays.html#sphx-glr-examples-02-plot-chart-overlays-py) tutorial, it is shown how to draw standard and chartMPL charts side by side and update them with a `p.add_slider_widget` that is referred to by a user defined function:
[code]

I think this works as a [chartMPL._red

[2022-09-28 11:57] lewisfish commented on #3376
Playing around with the file, I'm able to read and view the mesh in paraview which I believe uses the same backend (vtk). I'm also able to load the mesh with meshio, but pyvista throws an error when converting from meshio mesh to pyvista's mesh format:

[code]

[2022-09-28 12:41] lewisfish commented on #3376
Okay found the source of the bug. It's my fault. I didn't realise that .obj files started their counting at 1 not 0. Fixing this allows me to read the file and plot the mesh in pyvista. I'm guessing that meshlab and paraview which could read and display the mesh have a check for this in their repective readers. Maybe useful to check for this to give the user a better error message rather than a co

[2022-09-29 17:46] banesullivan opened #3383 "Changing lookup table cmap clears opacities"
### Describe the bug, what's wrong, and what you expected.

If changing the the lookup table's cmap dynamically, it will clear out the opacity transfer function:

[code]

| Expected | Got |
|---|---|
|<img width="624" alt="Screen Shot 2022-09-29 at 11 43 35 AM" src="https://user-images.githubusercontent.com/22067021/193104679-d5507b11-c2e1-4463-be94-d14ab91a2e42.png"> | <img width="624" alt="Scree

[2022-09-29 17:48] banesullivan opened #3384 "vtkVolume needs wrapping like vtkActor"
We wrap vtkActor nicely and should do the same for vtkVolume to make lookup table modification during volume rendering nicer.

[code]

[code]

[2022-09-29 22:17] sgaist commented on #3333
Hi,

I would like to take a shot at it for the Hacktober fest.

[2022-09-29 22:47] MatthewFlamm commented on #3333
Take a shot and please ask questions either here or in the slack channel if you need pointers.

[2022-09-30 03:27] banesullivan commented on #3333
@sgaist, happy hactober fest!!! (well in a few days) We're happy to have your contributions! When making your PR, please remind us to add the `hacktoberfest-accepted` label to your PR to make sure you get credit for your work

[2022-09-30 07:31] lorinczszabolcs opened #3387 "Marching cubes bug"
### Describe the bug, what's wrong, and what you expected.

I am trying to run the marching cubes algorithm on a 3D binary array, but I get the following error:
`Number of scalars (47448064) must match either the number of points (47448064) or the number of cells (47001780).`
Funny part is, that the number of scalars actually matches the number of points.

### Steps to reproduce the bug.

[code]

[2022-09-30 12:55] MatthewFlamm commented on #3387
[code]

In pyvista, the first dimension has the match the number of points or cells.  So you need to flatten or ravel your array.  I haven't checked that it is flattened in the correct order in this example.

This comes up often enough that I think we should change the error message in case the total size of the array matches the number of points.

[2022-09-30 13:19] lorinczszabolcs commented on #3387
Thank you for the quick reply!

Ah, indeed. Yes, the error message could be more explicit.

Alternatively, could there be a check for the array size and try to infer the intended shape automatically?

[2022-09-30 13:29] MatthewFlamm opened #3389 "add_axes and create_axes_marker problems"
`pyvista.Plotter.add_axes` allows passing a `marker_args` which allows to pass parameters to `pyvista.create_axes_marker`.  There are a few issues currently:

1) `create_axes_marker` isn't included in the documentation
2)  `marker_args` cannot contain parameters that are already allowed in `add_axes`, e.g. `add_axes(marker_args={'line_width': 6})` is not allowed.

I propose the the following items

[2022-09-30 13:31] Abhijnan-Bajpai commented on #3389
Hey @MatthewFlamm! I'd like to work on this for my Hacktoberfest contributions. Could I be assigned?

[2022-09-30 13:41] MatthewFlamm commented on #3387
This would be great, but it probably has some nasty edge cases that would need to be handled.  For example, we have 9 points and 9 cells.  The user supplies an array of size (3x3).  Was this cell data or point data, was it intended to be vector valued data, but the user should have supplied (9x3) shape data?  Unless this can be clarified in a straightforward way, I think having some more helpful e

[2022-09-30 13:52] MatthewFlamm commented on #3389
Yes, thank you!  Please ask questions if you need help at any point.

[2022-09-30 14:31] banesullivan commented on #3387
Lots of edge cases indeed

FWIW, `vtkImageData`/`pyvista.UniformGrid` can handle this sort of implicit matching pretty easily and I believe @akaszynski was working on this recently?

Otherwise, I think the best way to resolve this issue is to improve the error messages so that they are more explicit about the first dimension needing to match the number of points/cells and hinting towards calling `

[2022-09-30 14:32] banesullivan commented on #3389
And please don't let us forget to add the `hactoberfest-accepted` tag to your PRs! Happy to have you contributing, @Abhijnan-Bajpai

[2022-09-30 14:42] MatthewFlamm commented on #3387
I'm going to put this as a good-first-issue. I _think_ we are suggesting that we could check for multidimensional data and then provide a more helpful error message in the case where `provided_array.size == mesh.n_points or provided_array.size == mesh.n_cells `` with some suggestions to consider `np.ravel` or `ndarray.flatten`.

[2022-10-01 08:58] sgaist commented on #3333
My merge request is currently just a starting point.

One of the question I have is whether the tests should cover only the PointSet class or through them the _PointSet mixin as well ?

[2022-10-01 12:08] MatthewFlamm commented on #3333
This issue was specifically for `vtk_points`, which is used in that module.  If you want to open more PRs to add more test coverage for PointSet and _PointSet that would be great!

[2022-10-01 20:09] sgaist commented on #3333
My bad ! I misread the content of #3311 and mixed things up.

I'll cleanup my current request to match the scope of this issue and see what I can do for PointSet.

[2022-10-03 20:04] #3383 closed

[2022-10-04 20:38] #210 closed

[2022-10-05 16:31] akaszynski commented on #3387
Yep, that's part of the textures PR #2729. Really want that merged before next release.

[2022-10-05 16:32] akaszynski opened #3415 "Add missing return sections"
Some of our methods are missing return documentation and it's showing up on the `main` branch documentation build. Easy fix.

[code]

[2022-10-05 16:37] #3333 closed

[2022-10-05 20:26] MatthewFlamm opened #3416 "Inconsistent description and behavior for `Renderer.view_vector`"
### Describe the bug, what's wrong, and what you expected.

The description of view vector is:

I take this to mean that supplying `(1, 0, 0)` will point the camera in that direction, i.e. the direction of `camera_position - focal_point` is `(1, 0, 0)`.  However the effect is opposite, and the viewing direction is `(-1, 0, 0)`.  That is the supplied vector is the direction that the camera moves aw

[2022-10-06 12:47] tkoyama010 opened #3420 "Fix the redirection message of linkcheck"
### Describe what maintenance you would like added.

There are redirection messages in [linkcheck](https://github.com/pyvista/pyvista/actions/runs/3167456847/jobs/5157965585). We can fix to new URL in the PyVista document.

### Links to source code.

None

### Pseudocode or Screenshots

None

[2022-10-06 13:08] MatthewFlamm commented on #3389
There is no hard requirement on branch name as we can tag appropriately after the PR is opened.  You should open the PR from a branch on your fork of pyvista to the main branch of pyvista.  If you want to follow PyVista branch naming convention, you can read here: https://docs.pyvista.org/extras/developer_notes.html#branch-naming-conventions

[2022-10-06 15:10] MatthewFlamm opened #3422 "Standard for variable names in Returns docstring section"
### Describe what maintenance you would like added.

This stems from the discussion from https://github.com/pyvista/pyvista/pull/3391#discussion_r989148046.

I think the standard in the code base is to omit names for returned variables like below.  But this is an undocumented standard, or I couldn't find it by reading the Contributing section.

[code]

I think the standard should be documented, bu

[2022-10-06 15:45] MedAdh42 opened #3423 "[Bug] PVDReader : << KeyError: 'part' >>"
Hi, I'm trying to use PyVista to read simulation results stored in the .pvd format (GEOSX simulation, see attached zip file).

When i try to read the data using :

`import pyvista as pv

filename = 'vtkWellPump.pvd'

results = pv.read(filename)`

It throws the following error :

`File ......code/meshing/Python/python3/install/Python-3.9.10/lib/python3.9/site-packages/pyvista/utilities/reader.py:17

[2022-10-07 06:32] GeoMattB opened #3426 "sample_over_line has trouble reading mesh values"
### Describe the bug, what's wrong, and what you expected.

I create or load a triangular mesh surface.
Then using the example from plot_over_line I generate a line, then show that line on the surface. This works.

I then sample the line over the surface using sample_over_line and the resulting object has 0's for the attribute data

### Steps to reproduce the bug.

[code]

### Screenshots

![image

[2022-10-07 08:49] gofmans opened #3427 "Segmentation fault when plotting Trimesh wraped mesh with silhouette=True"
Hello all,

## Describe the bug, what's wrong, and what you expected ##

I encountered an error while trying to plot a mesh after loading it with Trimesh package and wrapping with pyvista .
Oddly, when I plot the mesh without the "silhouette=True" parameter everything works just fine.

## Steps to reproduce the bug ##

`import trimesh`
`import pyvista as pv`

`# loading mesh with trimesh and wrapp

[2022-10-07 12:35] rkenko opened #3430 "How to create a composed Polydata in order to perform boolean_difference ?"
### Discussed in https://github.com/pyvista/pyvista/discussions/3429

<div type='discussions-op-text'>

<sup>Originally posted by **rkenko** October  7, 2022</sup>
Hi,

I am really new to Pyvista and i need help to 1. create a Polydata from multiple shapes then 2. perform boolean difference between a solid A and the previously created polydata. Below you have the detail of what i want to do:

I wa

[2022-10-07 12:55] MatthewFlamm commented on #3426
Can you also provide the working example with `plot_over_line`?  It is curious as it uses `sample_over_line` under the hood.

If you could provide the data, we could test directly. I'm interested in the bounds of your mesh, if you could provide that.

I suspect based on the large tolerance that your mesh doesn't exactly fall along this line.  The large tolerance might have unintended consequences

[2022-10-07 23:07] GeoMattB commented on #3426
[test_mesh.zip](https://github.com/pyvista/pyvista/files/9737817/test_mesh.zip)

I've attached the vtk file (zipped) here, and editted the original bug to include the plot_over_line code.

[2022-10-08 13:27] MatthewFlamm commented on #3426
I haven't had a chance to look at the data yet, but thank you for providing.  It sounds like based on your description that your mesh does not lie on a plane, but has variation in z.  This _will_ cause problems.  Using tolerance to fix this will cause issues unless the 'out-of-plane' variation is much much smaller than the cell sizes.  Since you loop over multiple meshes, this will be difficult to

[2022-10-08 18:43] v-alisei opened #3433 "intersection between mesh and structured surface"
[code]

yields

`58.48021245682933
2022-10-08 18:47:28.012 (   1.835s) [                ]    vtkPointLocator.cxx:868    ERR| vtkPointLocator (000001AB9CF53B10): No points to subdivide
ERROR:root:No points to subdivide
2022-10-08 18:47:28.013 (   1.837s) [                ]vtkIntersectionPolyData:2410  WARN| No Intersection between objects
`

Hello, everyone. I've ran into problem. I need to get a l

[2022-10-09 00:19] GeoMattB commented on #3426
Great, thanks for the detailed response. It looks like setting z=0 works as you describe. It looks like this is expected behaviour so I'll close this. Thanks again.

[2022-10-09 00:19] #3426 closed

[2022-10-10 21:47] charithjeewantha opened #3439 "2D streamline example failing with pythreejs notebook backend"
### Describe the bug, what's wrong, and what you expected.

I was trying the 2D streamline tutorial from [here](https://docs.pyvista.org/examples/01-filter/streamlines_2D.html#sphx-glr-download-examples-01-filter-streamlines-2d-py)

But the images are not displayed.
I'm running the a Jupyter notebook through docker in my Windows computer (Because I'm learning [FEniCSx](https://fenicsproject.org/)

[2022-10-10 22:20] EntPyle opened #3440 "Add Reader utility for Ansys .cdb meshes"
### Describe the feature you would like to be added.

I would like to add the ability to read in meshes from Ansys .cdb files. I currently plan on doing this myself but wanted to add the feature request to make sure it wasn't already being worked on somewhere I couldn't find.

### Links to VTK Documentation, Examples, or Class Definitions.

Link to the [file specification](https://knowledge.autode

[2022-10-11 04:42] banesullivan commented on #3440
I think this would be an excellent thing to implement and want to make sure @akaszynski is in the loop.

I think the best place for such a file reader would by in [one of the PyAnsys libraries](https://github.com/pyansys) which have excellent interoperability with PyVista. Perhaps if available in PyAnsys, we could implement a plugin mechanism for a downstream library to register new file readers (

[2022-10-11 04:52] banesullivan commented on #3439
Well, this is odd. As far as I can tell, you are just running [the example](https://docs.pyvista.org/examples/01-filter/streamlines_2D.html) as is -- *but* with the `pythreejs` notebook rendering backend.

For some reason, this is failing just with the `pythreejs` backend enabled. I have been encountering many problems with this backend lately and have mentioned in other issues lately that we do n

[2022-10-11 09:12] ShawnjpWang commented on #2817
Dear Sir！
    Here is what I will Done,
    First I will introduce a STL file, like a bunny in example;
    And Then I want to project the upper surface on the XY plane;just drop the lower surface.
     So I want  the image with countour line or fill the same height with the same color on the xy plane. Hope got some help. and the example that you supplies is a surface contour, its mesh is differen

[2022-10-11 12:58] puripant commented on #3347
To clarify, we should add `optional` or `default: ...` to all parameters in the warning, right? I have tried adding a few in `mapper.py` and `plotting.py`. Will create a pull request first just to make sure I am on the right track. If it's okay, I will commit more later.

[2022-10-11 13:14] georg-walther opened #3445 "Opacity for NaN-values does not work when adding mesh"
Dear PyVista-Team,
Dear PyVista-Community,

When creating a mesh from a UniformGrid with some NaN-values, it is not possible to hide those NaNs (opacity=0).
When setting the parameter nan_opacity to 0, the NaNs appear in grey (see screenshot [1]). When setting nan_opacity to 1 (or 0) and nan_color='black' (can be any color) the NaNs are finally hidden in the plot but the opacity of the remaining v

[2022-10-11 13:15] MedAdh42 opened #3446 "EnsightReader : unable to read all the timesteps nor plot using itkwidgets"
### Describe the bug, what's wrong, and what you expected.

Hi, I've been trying to read simulation results stored in binary Ensight format.
I was able to read only the data at the initial timestep (0) and it throws an error when i try to change the active timestep, more over I'm unable to plot the data with itkwidgets as it throws an error.

[Sim_Ensight.zip](https://github.com/pyvista/pyvista/fi

[2022-10-11 14:37] EntPyle commented on #3440
Did you have a thought as to where it should belong? I'll say that I'm not an Ansys user myself; I'm just partnering with someone who has Ansys and provided me mesh files in .cdb format. Looking through those modules, most of them seem to work in tandem with Ansys. The "independent" modules I see are focused on postprocessing, while the cdb format is specifically preprocessed data. It contains onl

[2022-10-11 14:48] banesullivan commented on #3347
The whole optional thing puzzles me... any keyword argument that has a default value is optional... seems like extra fluff to actually state it's optional.

[2022-10-11 14:49] banesullivan commented on #3347
Like adding the `Optional` type annotation and "optional" in the docstring seems incredibly unnecessary to me.

What's the advantage of having this?

[2022-10-11 15:07] banesullivan commented on #3440
I've pinged @akaszynski and will let him chime in as the creator of PyAnsys

[2022-10-11 15:10] akaszynski commented on #3440
Hi @EntPyle,

https://github.com/pyansys/pymapdl-reader should work for you. See https://reader.docs.pyansys.com/api/archive.html

[code]

[2022-10-11 15:11] akaszynski commented on #3440
If you'd like to access the [UnstructuredGrid](https://docs.pyvista.org/api/core/_autosummary/pyvista.UnstructuredGrid.html?highlight=unstructured+grid#pyvista.UnstructuredGrid) of the CDB, access the `grid` attribute:

[code]

[2022-10-11 16:50] MatthewFlamm commented on #3347
Using `param : bool, optional`, or `param : bool, default=True`, is useful in the html documentation so that you don't have to read the entire parameter description or scroll all the way to the function signature to understand whether the parameter is optional to exclude.  This is particularly useful in a function like `add_mesh` which you might have to scroll forever to the top to see the functio

[2022-10-11 17:19] MatthewFlamm commented on #3446
This file has multiple `time set`s.  The first time set only has one time value in it.  Which is what you are observing.  I'm not familiar with the `time set` functionality of ensight format.  We are using `vtkGenericEnsightReader`, but it looks like `vtkEnsightReader` has some functionality for handling `time sets`.  This would be a good place to look for a solution to this.

This is a small bug

[2022-10-11 17:39] MatthewFlamm commented on #3347
#3444 was implemented with the following approach, this is my reading anyway.  Use `param : int, optional` when the default is `None`, i.e. user can provide an integer, but the default is None.  In this case, it would be typical to explain the default behavior in the full description.  Use `param : int, default=5` when there is an explicit default value.  This would overlap more with the usage of

[2022-10-11 19:44] banesullivan commented on #3347
Ah, this is very insightful! Thank you for taking the time to explain to me, @MatthewFlamm! I agree that the `param : bool, default=True` syntax is ideal when possible

I actually didn't realize this but it's clear in hindsight 🤦🏻‍♂️

Thank you!

[2022-10-11 20:09] #3440 closed

[2022-10-12 00:10] MatthewFlamm commented on #3446
For the error in plotting, the issue is that you have a MultiBlock mesh, for which you currently cannot plot scalars like this.  You have to do something like `pl.add_mesh(mesh[0], scalars="SOIL")`.  The next release should allow your current usage as long as every mesh in the Multiblock has that data array.

[2022-10-12 04:48] charithjeewantha commented on #3439
Thank you for the response! Yes it worked!

[2022-10-12 04:48] charithjeewantha commented on #3439
Thank you very much for the response. Yes it worked!

[2022-10-12 15:07] #3389 closed

[2022-10-12 20:14] MatthewFlamm opened #3453 "Create a test to check that all images in the cache are utilized by a test"
### Describe what maintenance you would like added.

#3336 added a image cache file for [closing_and_mem_cleanup.png](https://github.com/pyvista/pyvista/blob/main/tests/plotting/image_cache/closing_and_mem_cleanup.png) despite the fact that this test does not cache a plotter image.  In fact, the image should have a basic sphere in this test, so the image is also wrong.

https://github.com/pyvista/

[2022-10-12 20:30] MatthewFlamm commented on #3324
I like this idea.  I want to take your suggestion one step further on `verify_cache_image` that it should be a Pytest plugin itself.  Then downstream libs do not even need to import it and could consider wrapping it to make an `autouse=True` fixture.  A start for this is in #3454, which makes this functionality into an internal Pytest fixture.

[2022-10-12 23:19] #2891 closed

[2022-10-13 10:30] puripant commented on #3347
Since we agree on how this should be done, I will create another pull request for all other listed optional parameters then.

[2022-10-13 15:32] LukeDiederich opened #3458 "No set_active_scalars on multiblock"
### Describe the bug, what's wrong, and what you expected.

I found a bug!

### Steps to reproduce the bug.

[code]

### System Information

[code]

### Screenshots

_No response_

[2022-10-13 15:41] banesullivan commented on #3458
Thanks for submitting - we ran into this issue together

[2022-10-13 16:10] banesullivan commented on #3317
I want to confirm that this is indeed a regression and at odds with the documentation for the method:

https://github.com/pyvista/pyvista/blob/20cd0177ef9d924d3497e397ac45f6069f48c6cd/pyvista/plotting/picking.py#L244-L251

I think the best bet here is to git bisect to see where the regression was introduced.

Further, I'd like for us to implement a test of picking multiple meshes in a scene after

[2022-10-13 16:19] banesullivan commented on #3317
Able to reproduce and can confirm that this is only an issue for "through" picking (`through=True`, the default).

Inside `enable_cell_picking`, you can see the difference in implementations where the visible cell picking uses the selection nodes to determine the input mesh and the through picking uses the last `mesh` object.

These two methods need to converge.

@adam-grant-hendry, I'm happy to t

[2022-10-13 21:14] MatthewFlamm commented on #3453
A complicating factor to this is that some tests only cache images on certain vtk versions.

[2022-10-14 14:10] #3347 closed

[2022-10-14 17:35] banesullivan opened #3471 "Support vtkLODActor and vtkLODProp3D"
### Describe the feature you would like to be added.

Can we support usage of `vtkLODProp3D` and `vtkLODActor` and thus level of detail rendering?

### Links to VTK Documentation, Examples, or Class Definitions.

https://vtk.org/doc/nightly/html/classvtkLODActor.html#details

https://vtk.org/doc/nightly/html/classvtkLODProp3D.html#details

### Pseudocode or Screenshots

[code]

[2022-10-14 18:20] banesullivan opened #3473 "test_complex_raises failing on M2 Mac"
### Describe the bug, what's wrong, and what you expected.

I'm seeing test failures on `main` with my new M2 Macbook Air (all dependencies installed via `pip`)

There are lots of other plotting failures which I'm going to bundle in a separate issue

### Steps to reproduce the bug.

[code]

### System Information

[code]

### Screenshots

_No response_

[2022-10-14 18:32] banesullivan opened #3474 "test_plotting failures on M2 Mac due to memory issues"
### Describe the bug, what's wrong, and what you expected.

I'm seeing ~93 test failures in `tests/plotting/test_plotting.py` on my M2 Mac.

I think all of them are raising the same error: `RuntimeError: Unable to extract image from Plotter as it has already been closed.` from

https://github.com/pyvista/pyvista/blob/adfb940d9e4d9d7d01530c7453c91e82921abea2/pyvista/utilities/regression.py#L119-L12

[2022-10-14 18:51] adeak commented on #3474
My laptop has 16 gigs total and I can usually run the test suite fine. I'll check later tonight. I'd expect this to be some memory allocation bug on the weird M1 rather than an actual pyvista bug.

[2022-10-14 18:54] adeak commented on #3474
Stuff like https://gitlab.kitware.com/vtk/vtk/-/issues/18420

[2022-10-14 19:10] banesullivan commented on #3474
Yeah... I think you're on the right track that this isn't a "pyvista bug" per se

[2022-10-14 20:58] adeak commented on #3474
The test suite ran without any issues with a bit more than 9 GB of free RAM. The memory monitor graph barely increased during the run. The largest memory use estimate from pytest is 210 MB, and even if I add up all the numbers above 1 MB (which gives a nonsensical upper bound) I get 5.2 GB. This is just to confirm that it is extremely unlikely that you are actually running out of RAM.

[2022-10-14 23:21] banesullivan commented on #3474
Thanks for investigating more thoroughly on your system. Indeed I think this must be an M1/M2 Metal issue and perhaps better suited as an upstream issue in VTK... now to reproduce with just VTK

[2022-10-15 09:19] laysauchoa commented on #3268
Hi @banesullivan I think it can be something like the PR I linked

[2022-10-15 14:39] adam-grant-hendry commented on #3317
@banesullivan Feel free to take this on! I will contribute where I can. Thank you for looking into this!

[2022-10-15 18:31] #3433 closed

[2022-10-15 18:32] v-alisei commented on #3433
See original discussion

[2022-10-16 22:11] laysauchoa opened #3478 "Add stamp for documentation update"
### Describe the feature you would like to be added.

Add time when the documentation was last updated by using https://github.com/jdillard/sphinx-gitstamp

### Links to VTK Documentation, Examples, or Class Definitions.

This can be added in the end of the page close to `Created using Sphinix` info.

<img width="1023" alt="Screenshot 2022-10-17 at 00 09 35" src="https://user-images.githubusercont

[2022-10-17 06:39] puripant opened #3479 "`Default` parameters that are documented as `optional`"
### Describe what maintenance you would like added.

As discussed in #3347 #3444 and #3457 each parameter of a method should be listed as `optional` when its default value is `None` and `default=...` when its default value is other than `None`. All optional parameters with `None` defaults are already specified as `optional` but some parameters with non-`None` defaults are also listed as `optional`

[2022-10-17 10:36] gofmans opened #3481 "Error wrapping Trimesh objects with pyVista"
### Describe the bug, what's wrong, and what you expected.

I encountered an error while trying to plot a mesh after loading it with Trimesh package and wrapping with pyvista .
Oddly, when I plot the mesh without the "silhouette=True" parameter everything works just fine.

Moreover, I noticed a mismatch between the resulting number of faces after the "wrapping" by pyvista in comparison with native

[2022-10-17 10:38] #3427 closed

[2022-10-17 15:02] leilakany opened #3482 "Coincident topology issues with pythreejs jupyter_backend"
### Describe the bug, what's wrong, and what you expected.

Hello,

I have an issue when visualising thin shells. When looking at the normals in the screen recording attached, the values seem incorrect, but the problem disappears when zooming in. Have you encountered this before? Is there a way to fix this?

### Steps to reproduce the bug.

Try to visualize a mesh with a thin shell.

### System In

[2022-10-17 16:46] banesullivan commented on #3482
Ooof, that does not look good. Can you provide more details?

- Is this rendering in a PyVista render window or with one of the notebook rendering back ends?
- Are there multiple geometries in the scene? I suspect there is and we're seeing coincident topology not properly being handled.

I'm not too sure what this actually means... Can you share the data in question and the code to make this visua

[2022-10-17 16:49] banesullivan commented on #3481
Can you share the one specific STL mesh that you see the issue with? Otherwise, it's tough for us to reproduce this.

[2022-10-17 16:51] banesullivan commented on #3478
+1, I think having a timestamp and version/tag/commit reference would be helpful. Though technically `docs.pyvista.org` is the latest tag and this would be more useful for `dev.pyvista.org` which is the `main` branch.

[2022-10-17 17:47] leilakany commented on #3482
Absolutely, sorry for the missing information.
I am running this code in a jupyter notebook using pythreejs backend.
There is only one geometry in this scene, that is a plan.

Here are the code and the input file:

[code]

[plan.stl.zip](https://github.com/pyvista/pyvista/files/9803221/plan.stl.zip)

[2022-10-17 19:54] banesullivan commented on #3482
**Good news:** I am able to reproduce this issue.

**Bad news:** I don't think this is something we can address.

This appears to be a conincident topology issue with rendering in three.js, not VTK or PyVista.

The `pythreejs` `jupyter_backend` is effectively exporting the PyVista/VTK scene to three.js and we do not support any custom rendering techniques once you get to three.js.

That's probably

[2022-10-17 21:32] adeak commented on #3481
Handling `Trimesh` in `pv.wrap` has some strong assumptions:
https://github.com/pyvista/pyvista/blob/b709dcee6b7ef0c6eb1341c491b9552cdb866044/pyvista/utilities/helpers.py#L973-L980

If `Trimesh` can have anything other than triangle faces (triangle strips perhaps? any cell type not exposed through it `.faces` attribute) we'd be missing out on those.

[2022-10-17 21:48] adeak opened #3483 "Distinguish parametrized image regression test cases"
https://github.com/pyvista/pyvista/pull/3454 introduced dozens of new image regression tests. Many of these are parametrised tests, and some of those are identical despite having different parameters. E.g. `tests/plotting/image_cache/add_point_labels_always_visible[False].png` and `tests/plotting/image_cache/add_point_labels_always_visible[True].png` (corresponding to `tests/plotting/test_plotting

[2022-10-18 15:38] laysauchoa commented on #3478
Can I assign it to me and I will work on that?

[2022-10-19 05:36] banesullivan commented on #3478
thanks for taking this on @laysauchoa!

[2022-10-19 06:33] gofmans commented on #3481
Thanks for your comments, I looked into the resulting mesh and came across a solution.

It seems like wrapping the mesh by pyvista results in a set of "open edges" that have to be removed before plotting with the silhouette parameter.

This could be done by using "clean" operation followed by "triangulate":

[code]

This way, after wrapping the trimesh object cleaning and triangulating, the result

[2022-10-19 07:53] leilakany commented on #3482
All right, thank you for looking into and and for the feedback.

Looking forward to this new notebook backend!

[2022-10-19 23:03] MedAdh42 commented on #3446
Thank you for the response.

[2022-10-19 23:03] #3446 closed

[2022-10-20 04:23] wshinigamic opened #3493 "Bug with `clear_plane_widgets()`"
### Describe the bug, what's wrong, and what you expected.

After calling Plotter.clear_plane_widgets(), the plotting window crashes with error message "zsh: segmentation fault".

See minimal example below to reproduce the bug.

### Steps to reproduce the bug.

[code]

### System Information

[code]

### Screenshots

_No response_

[2022-10-20 18:24] MatthewFlamm opened #3496 "Maintenance: image regression test for `test_ssao_pass`"
I believe I have already found one peculiarity in the image regression testing due to #3454, which is puzzling:

https://github.com/pyvista/pyvista/blob/051b08e20dfb1ecf29631f48f9fb68ac28fa920a/tests/plotting/test_plotting.py#L2609-L2626

The original code used the behavior to check each call to `show` against the same image in the cache.  The second call, is supposed to be different enough, that

[2022-10-20 20:11] MatthewFlamm commented on #3496
It looks like I deleted the image cache and regenerated it on my local path during development, which accounts for the difference of CI vs. local.  This behavior still needs to be addressed.

[2022-10-21 23:58] kjelljorner opened #3499 "Interpolation leads to arrays with erased data"
### Describe the bug, what's wrong, and what you expected.

Interpolation sometimes leads to erasing all the data from the source data. Also the mesh to which the data is interpolated onto receives an empty array.

### Steps to reproduce the bug.

I'm attaching a fairly involve example with real data, as I was not successful in creating a minimal reproducible example that displays this problem.

T

[2022-10-22 08:22] moonckk opened #3501 "plt.add_legend() can't support chinese labels"
### Describe what maintenance you would like added.

hello, i meet a trouble,
**plt.add_legend() can't support chinese labels**
could you give me some suggestion?

### Links to source code.

_No response_

### Pseudocode or Screenshots

[code]

![image](https://user-images.githubusercontent.com/108472093/197328777-d1127c00-a7a6-499f-bf02-6bb4cb848c1b.png)

[2022-10-22 11:37] mkondratyev85 opened #3502 "plotter.clear() doesnt clear sphere_widgets"
### Describe the bug, what's wrong, and what you expected.

My application need to repeatedly create similar 3D scenes with new input data. I'm using `Plotter.clear()` to clear the scene before building the new one. `Plotter.clear()` does clears the view of the scene, but doesn't clear the list of sphere_widgets.

After I clear the scene by using `plotter.clear()`  the list in plotter.sphere_widge

[2022-10-22 11:45] mkondratyev85 commented on #3502
When I manually clear sphere_widgets by plotter.sphere_widgets.clear() my application catches the segmentation fault.

What can you suggest to repeatedly clear the scene?

[2022-10-22 12:43] MatthewFlamm commented on #3499
They interpolate filter uses a gaussian interpolation scheme with a cutoff of `radius`.  I suspect that you are finding no points within the radius and the default in this case is to replace the data with 0.  See `strategy` and `null_value` parameters.  You will likely have to tune the input parameters for your mesh.

This may or may not be what you really want.  You can also look into the sample

[2022-10-22 12:44] MatthewFlamm commented on #3499
However you are saying that in this case, the input mesh also gets blank values, which sounds like a bug to me.

[2022-10-22 13:08] kjelljorner commented on #3499
As you can see from my example, interpolation works when the redundant copy of the grid is done. It is therefore not a problem with the interpolation radius (I have also tested the other options that you mention and they do not change the result)

[2022-10-23 09:18] laysauchoa commented on #3268
can this issue be eligible for the hacktoberfest? If yes, can we add the label for it? thanks!

[2022-10-23 09:23] adeak commented on #3268
My understanding is that PRs are what eligible, and approved, merged PRs are valid automatically. That being said, @tkoyama010 diligently labels our merged PRs for hacktoberfest :)

[2022-10-23 09:31] tkoyama010 commented on #3268
I mistook this for a PR, it is an ISSUE.

[2022-10-23 10:23] laysauchoa commented on #3268
Alright, clear! Thanks for clarifying :)

[2022-10-23 10:24] laysauchoa commented on #3268
Can I assign this issue to me? I've an open pull request about it.

[2022-10-23 10:25] adeak commented on #3268
I don't think you can, but I've assigned you now.

[2022-10-24 08:22] leilakany commented on #3482
Hello,
Coming back to you about this new notebook rendering backend. Do you have any estimated time of release for it?

[2022-10-24 15:06] banesullivan commented on #3482
Not exactly... I'm hoping before End of Year for a conservative timeline but hopefully sooner.

The work *is in progress* at this point. There is a very, very rough prototype in #3385

[2022-10-25 16:58] banesullivan commented on #3501
Would you please provide the string labels in `label_list` of the Chinese text/characters?

[2022-10-25 17:00] banesullivan commented on #3501
FYI, this might be helpful: https://discourse.vtk.org/t/chinese-characters-rendering-issue/4457

[2022-10-27 01:09] banesullivan commented on #111
I'm going to close this issue as it is stale and the features are all implemented.

An actual orthographic slicer like this should be a downstream package in itself IMO

[2022-10-27 01:09] #111 closed

[2022-10-27 01:12] banesullivan commented on #629
Apologies for bringing an old issue to life, but I wanted to point folks to `pyvista-xarray` for an xarray interface: https://github.com/pyvista/pyvista-xarray

I'm also going to close this issue due to staleness for the QGIS aspect

[2022-10-27 01:12] #629 closed

[2022-10-27 09:54] mkondratyev85 commented on #3502
Hi @banesullivan, can you something on this issue?

[2022-10-27 13:06] banesullivan commented on #3502
Hi @mkondratyev85, this may be a tough issue to solve...

I suspect the issue lies in trying to clean up the Plotter from within the VTK event thread - which might not be a safe operation.

Otherwise, I made a modification to the `clear_sphere_widgets()` method as:

[code]

and changed your callback to use that:

[code]

Let me know if this works for you, and perhaps we can modify the `clear_*_wid

[2022-10-28 01:56] sunilpulinthitta opened #3518 "Only one of the Pyvista subplots work when pyqt app is moved to 4k monitor"
### Describe the bug, what's wrong, and what you expected.

I have a pyqt app where I have Pyvista subplots. All the subplots are responsive when on my 2k monitor. If I move the app to my 4k monitor, just one of the subplots work. I can bring back the app to my 2k monitor and all four subplots continue to be responsive.
<img width="1254" alt="Screen Shot 2022-10-27 at 8 51 09 PM" src="https://user

[2022-10-28 02:07] banesullivan commented on #3499
This is incredibly odd... I'm able to reproduce this and I'm not sure what's going on here and it may be a tough issue to really track down.

Thank you for reporting and for providing this detail example!

[2022-10-28 09:49] AlejandroFernandezLuces opened #3520 "Creating an UnstructuredGrid with polyhedrons is undocumented"
As discussed in #3414 , we don't have documentation for polyhedrons, which are an special case inside VTK. We should create some example in `PyVista` for this. It may also be necessary to improve documentation to clarify how to use polyhedrons with `UnstructuredGrid`, as well as unit tests with polyhedrons.

### Discussed in https://github.com/pyvista/pyvista/discussions/3414

<div type='discussio

[2022-10-29 00:57] adam-grant-hendry opened #3522 "Lights unexpectedly removed after `clear()`"
### Describe the bug, what's wrong, and what you expected.

I happened upon this rather accidentally while working in `ipython`. After adding the wrong mesh to a plotter, I cleared the plotter and then added the right one. To my surprise, the shadow layer appears to have disappeared.

I am assuming the culprit begins here, but am not sure:

https://github.com/pyvista/pyvista/blob/dd0809210275a5fa1

[2022-10-29 01:26] adam-grant-hendry commented on #3502
@banesullivan This smells of side effects ala #3180 . `plotter` is global. It's not assigned to anything in `key_callback()`, so it can be mutated. The segfault feels similar to the memory leak mentioned back in [https://github.com/pyvista/pyvista/pull/3170#issuecomment-1216965310].

These are unsubstantiated claims. I just have a feeling.

[2022-10-29 01:33] adam-grant-hendry commented on #3501
@moonckk If you are on Windows, by default that OS uses `cp1252` encoding instead of `utf-8`, so in that case whenever `open` is used (or similar from the `io` module), the encoding has to be explicitly specified. as in `with open('myfile.txt', encoding='utf-8')`. All other OSs use `utf-8` by default.

What OS are you using?

[2022-10-29 15:23] banesullivan commented on #3522
This isn't the shadow renderer but the lights.

Lights are added to the renderers on Plotter init by default:

https://github.com/pyvista/pyvista/blob/6bf949271405eadcb6099bbe4051f4cb18380b2e/pyvista/plotting/plotting.py#L260-L268

Clearing the plotting clears these lights:

https://github.com/pyvista/pyvista/blob/6bf949271405eadcb6099bbe4051f4cb18380b2e/pyvista/plotting/renderer.py#L1909

Perhaps

[2022-10-29 15:48] banesullivan commented on #3522
FWIW, re-adding the lights demonstrates that's the issue:

[code]

[2022-10-29 21:41] adam-grant-hendry commented on #3502
@banesullivan I can confirm the above resolves the issue: first turning the widget `Off()` before clearing the underlying list.

This needs to be done for all the `clear()` methods because `pyvista` crashes with all widget `clear()` methods when the list is cleared before the widget is turned off.

[2022-10-30 11:42] mkondratyev85 commented on #3502
@banesullivan Thank you for the help. Calling sphere_widget.Off() before clearing the list solves my issue.

[2022-10-30 15:27] #3317 closed

[2022-10-30 22:33] adam-grant-hendry commented on #3493
@wshinigamic Thanks for reporting this! Per [Issue #3502](https://github.com/pyvista/pyvista/issues/3502), a current workaround is to first turn `Off()` the widget prior to using `clear_plane_widgets()`. The `clear()` functions in the ` pyvista` [`widgets`module](https://github.com/pyvista/pyvista/blob/068e4922742060bfe4f524955edb4ec7f4ee9782/pyvista/plotting/widgets.py) simply clear a `list` memb

[2022-10-30 22:34] adam-grant-hendry commented on #3493
Cc @banesullivan @akaszynski

[2022-10-31 22:01] #2286 closed

[2022-10-31 22:57] #3520 closed

[2022-11-01 02:00] moonckk commented on #3501
i have solved it, thank you.

[2022-11-01 02:00] #3501 closed

[2022-11-01 14:36] banesullivan commented on #3522
@adam-grant-hendry, take a look at #3536 and let me know if that might help

[2022-11-01 15:06] banesullivan commented on #3493
It's pretty clear that all the clearing methods for the widgets need to call `Off` -- this should be a straight forward PR if either of you want to give it a go

[2022-11-01 18:33] tehrengruber opened #3539 "Interactive update broken"
### Describe the bug, what's wrong, and what you expected.

Even for a very simple example as the one attached below interactively updating a plot is broken for me. As soon as `pyvista.Plotter.update` is called I run into an error:

[code]

The origin of this error is actually this VTK `TimerEvent` that terminates the render window resulting in `self.interactor` to be `None`:

https://github.com/p

[2022-11-01 21:23] akaszynski commented on #3539
I'm unable to reproduce this while on the latest commit 7195d44217df23b1bd7640ff244cf9e0f73914fb on `main`. Can you please pull and check?

[2022-11-01 21:36] tehrengruber commented on #3539
I installed from master sometime today. Some problem after I specifically installed https://github.com/pyvista/pyvista/commit/7195d44217df23b1bd7640ff244cf9e0f73914fb. Both on Linux and macOS.

[2022-11-02 13:30] vyas-pranav commented on #2372
I found an error in the code. In line 533 for file pv_pythreejs.py, inside function convert_plotter.

[2022-11-03 16:20] banesullivan opened #3546 "Inherited methods are documented too many times"
### Describe what maintenance you would like added.

In the documentation (most notable with the filter classes) inherited methods are documented everywhere they are inherited. This can be overwhelming to find the "right" reference of the method and I suspect the examples for these methods are getting executed and saved for each place they show up.

It's confusing to see the same filter appear in

[2022-11-03 16:57] akaszynski commented on #3546
Thanks for pointing this out, agreed that it's quite annoying.

[2022-11-04 01:29] banesullivan commented on #2062
I'm going to close this as the conditionals are mostly fine and there hasn't been a strong need for this

[2022-11-04 01:29] #2062 closed

[2022-11-04 01:35] banesullivan opened #3548 "`show(screenshot=...)` regression"
### Describe the bug, what's wrong, and what you expected.

In previous versions of PyVista, passing the `screenshot` keyword argument to `Plotter.show()` would take a screenshot on-close so that the user could navigate the scene and position the camera for their screenshot.

This is no longer the case and the screenshot is saved on-show (as the scene is initialized).

This is a regression and is

[2022-11-04 13:53] rodrigomologni opened #3550 "enable_cell_picking is not picking the cell clicked"
### Describe the bug, what's wrong, and what you expected.

Hi Team!

I don't know why when I use `show_cells` `enable_cell_picking` is not picking the cell clicked.

Download: [BRUGGE60K_FY-SF-KM-1-1.zip](https://github.com/pyvista/pyvista/files/9938706/BRUGGE60K_FY-SF-KM-1-1.zip)

### Steps to reproduce the bug.

[code]
![image](https://user-images.githubusercontent.com/1608652/199984485-c44da5a

[2022-11-04 16:23] banesullivan commented on #3550
Are you only seeing this with explicit structured grids?

[2022-11-04 16:41] rodrigomologni commented on #3550
Hi @banesullivan! Yes. The problem gets worse if I use `cast_to_unstructured_grid`. I don't know if the problem is in the dataset or in the PyVista, sorry. I tested with other explicit structured grids. Same problem.

[2022-11-04 17:11] rodrigomologni commented on #3550
@banesullivan I think the problem is in the dataset. I am investigating... Sorry!

[2022-11-04 17:28] MatthewFlamm commented on #3546
I also agree with this.  I expect this will reduce build times for the documentation as well.

Is there a way to still list the inherited methods for each downstream class, but with a link back to the original method?  The vtk docs have a collapsed section for these for easier discovering.  I think completely removing the inherited methods will make the documentation harder to parse in other ways.

[2022-11-04 17:56] rodrigomologni commented on #3550
@banesullivan I couldn't identify where the problem is. I think it's in the grid construction, but I'm not sure about that. You can close this issue if you wish. Sorry!

[2022-11-04 18:02] banesullivan commented on #3550
I still want to investigate this a bit, so I'm going to leave this open.

Also. I recently made some changes to cell picking that just landed. Could you verify the issue is still happening on the latest pyvista?

[2022-11-04 18:28] akaszynski commented on #3548
Let's fix this in `v0.37.1`. This is an annoying regression.

[2022-11-04 18:30] akaszynski opened #3551 "points_gaussian color default does not respect the theme"
The `points_gaussian` default color does not respect the theme:

[code]

![image](https://user-images.githubusercontent.com/11981631/200049458-d4ee3143-5970-4156-951d-82e6ee8b136c.png)

[2022-11-05 02:26] banesullivan commented on #3445
+1 just noticed this as well. This is a regression introduced by #2175 (found via git bisect):

[code]

with this script:

[code]

The following diff appears to resolve the issue, but I'd like to consult @dcbr on the difference between `opacity` and `default_opacity` for the `Color` class:

[code]

[2022-11-05 09:00] dcbr commented on #3445
- `default_opacity` was meant to be a last resort fallback value for the opacity of the color, i.e. it is only used when the provided `color` (or `default_color` if `color` is not provided) has no alpha channel value and the provided `opacity` is `None`.

- `opacity` on the other hand is meant as an override, i.e. it is always used (except if it's `None`) even when the provided `color` (or `defaul

[2022-11-05 10:53] rodrigomologni commented on #3550
Yes, I used PyVista v0.34.2 up to the latest.

[2022-11-05 11:53] rodrigomologni commented on #3550
@banesullivan cell picking on explicit structured grids is working in VTK.

[code]

[2022-11-05 15:58] banesullivan commented on #3445
@georg-walther, on your note of:

enabling depth peeling on the plotter should fix that:

[code]

[2022-11-06 14:14] dcbr commented on #3380
Thanks for your extensive analysis! The ChartMPL's are redrawn whenever the underlying matplotlib figure is redrawn (using `fig.canvas.redraw()`), so there is no need to use the `_redraw` method manually. But I agree that the documentation should be improved in this regard and I quite like your suggestion of automatically redrawing ChartMPL's whenever the plotter's `update` method is called. We sh

[2022-11-06 16:39] dcbr opened #3560 "Plotter update broken?"
### Describe the bug, what's wrong, and what you expected.

While trying to resolve #3380 I tried running the `chart_overlays` example which seems to be broken on the latest pyvista main branch. See below code sample to reproduce. I have been OOTL for a while, so I'm not sure if it's an actual bug in the interactor code or whether certain things have changed recently to produce these interactively

[2022-11-06 23:20] akaszynski commented on #3560
Unable to reproduce error on my end. @dcbr, could you propose a fix?

### System Report
[code]

[2022-11-07 03:49] tkoyama010 commented on #3080
Dependabot updates the Sphinx extension version well now. Closing.

[2022-11-07 03:49] #3080 closed

[2022-11-07 12:57] awelkie commented on #3560
I'm seeing the same issue. I believe it's caused by `self.iren.terminate_app` being called prematurely here:
https://github.com/pyvista/pyvista/blame/main/pyvista/plotting/plotting.py#L5810

This line is run during the call to `p.update`. Here's my backtrace:

[code]

[2022-11-07 15:18] haspelstfs opened #3563 "No transparent background color possible for screenshot"
Hi,

I am having issues to set a transparent background for a screenshot.

I am  trying to generate a Iso-line (slice from a volume object) with transparent background. The screenshot will be used to overlay on an existing image. Unfortunately for me it is impossible to set the Plotter.background color transparent.
methods I have used so far (p = pv.Plotter(border=False, window_size=(int(xBounds *

[2022-11-07 17:56] emielkemmm opened #3564 "Line Picking"
### Describe the feature you would like to be added.

It would be great to be able to pick a line, or multiple lines, from an imported mesh. Currently, you can somewhat do this with `enable_cell_picking`, but this limits your selection ability to using the selection window tool, and also doesn't appear to capture all lines in the mesh. A minimal working example of what I've done is below. If there

[2022-11-07 18:18] banesullivan commented on #3564
Do you want to specifically pick line cells existing in the mesh? Can you elaborate more on the result you are looking for?

[2022-11-07 19:16] emielkemmm commented on #3564
My end-goal is to have a CAD-like environment, where I could import a mesh (let's say a cylinder or cube) and could select specific edges of the shape. Those edges would probably already exist in the mesh, although I would likely need to select a number of edges to get the enclosed shape (for example, if I wanted to select the circle on a cylinder, I'd likely need to select a large number of edges

[2022-11-08 10:10] PeinW opened #3567 "How to add scalars after add_mesh"
### Describe the bug, what's wrong, and what you expected.

added scalars data before add_mesh is work, if reversed, add scalars does not work.

### Steps to reproduce the bug.

add scalar data before add_mesh
[code]
add scalar data after add_mesh
[code]

### Screenshots

_No response_

[2022-11-09 05:48] banesullivan commented on #3563
Try setting `pv.global_theme.transparent_background = True` right after importing PyVista and before instantiating the plotter.

[2022-11-09 05:49] banesullivan commented on #3563
[code]
![download](https://user-images.githubusercontent.com/22067021/200749210-50ea17d0-8d06-40df-9794-4d7bddc7d22c.png)

[2022-11-09 10:50] dcbr commented on #3560
I'm a bit short on time at the moment, but I'll try to further investigate next week. Maybe it's Windows related if you cannot reproduce it. It has indeed something to do with the `on_timer` callback being executed earlier than previously as @awelkie pointed out. I have always wondered what that callback is supposed to achieve, as I had to add an exception (`self.iren._style != "Context"`) while w

[2022-11-09 15:36] MarkusZimmerDLR opened #3573 "Camera adjustment using Plotter.camera.<azimuth/roll/elevation> flaky"
### Description

Camera adjustment using `pyvista.Plotter.camera.<azimuth/roll/elevation>` seems flaky if more than one attribute is adjusted.

The roll part of the adjustments dynamically seems to change on its own.
Roll in ISO-view already starts with 120, while every other view (e.g. `Plotter.view_xy()` or `Plotter.view_zy()`) starts with all zero values for roll, azimuth, and elevation.

If on

[2022-11-09 15:36] MarkusZimmerDLR commented on #3573
Placeholder for second example.

[2022-11-09 15:46] beroda opened #3574 "UnicodeDecodeError for test_tinypages"
### Describe the bug, what's wrong, and what you expected.

First, thanks to all pyvista developers, this library is just amazing.

After a fresh install on my laptop, I ran all the tests and found one failure:
![image](https://user-images.githubusercontent.com/117822458/200873748-cb0a3a40-f6e5-4db5-8411-5b8e320df08f.png)

After looking into the code, this quick fix worked for me in **tests/test_t

[2022-11-09 16:04] MarkusZimmerDLR commented on #3573
I have the same issues under the following environment:
[code]

[2022-11-09 16:41] beroda commented on #3574
Yes, I will do it as soon as I can.

[2022-11-09 17:11] banesullivan opened #3575 "Issue plotting after `extract_all_edges` with cell data"
### Describe the bug, what's wrong, and what you expected.

This is an extremely odd issue where plotting a mesh with CELL data after running `extract_all_edges` produces unexpected results.

### Steps to reproduce the bug.

[code]

Plot with solid color and get what we expect:
[code]
<img width="624" alt="Screen Shot 2022-11-09 at 10 09 41 AM" src="https://user-images.githubusercontent.com/220670

[2022-11-09 20:27] k-a-mendoza opened #3576 "AttributeError: 'ExplicitStructuredGrid' object has no attribute 'GetVerts'"
### Describe the bug, what's wrong, and what you expected.

While trying to plot an isosurface based on my own hexahedral grid data, Following the default examples on githup consistenly led me to an ```AttributeError: 'ExplicitStructuredGrid' object has no attribute 'GetVerts'```. This occurs when trying to plot an explicitStructuredGrid mesh.

Correct behavior should just be a normal plot render.

[2022-11-10 13:13] MarkusZimmerDLR opened #3580 "After calling the `pyvista.Plotter.camera.tight` the clipping range is extremely close"
### Describe the bug, what's wrong, and what you expected.

After calling the `pyvista.Plotter.camera.tight` the clipping range is extremely close and cuts the model.

### Steps to reproduce the bug.

[code]

[code]

### System Information

[code]

### Screenshots

![grafik](https://user-images.githubusercontent.com/77002394/201100791-61f8ca67-f93c-4bc6-8552-0badb89e784f.png)

[2022-11-10 13:48] gbene opened #3581 "Factor not working for generate_orbital_path"
### Describe the bug, what's wrong, and what you expected.

Hi!

I was trying to use the generate_orbital_path and orbit_on_path functions to create gifs of the 3D view. When running the example in the documentation I found that changing the factor parameter does not do anything (the resulting orbiting gifs do not change)

### Steps to reproduce the bug.

[code]
with factor=1 this is the result
![

[2022-11-10 15:44] banesullivan commented on #3576
I'm going to say that this is actually an issue that should be raised with Panel.

It seems the error is arising within panel's serialization module and that panel does not handle all non-polydata meshes appropriately. From a *quick* glance, I think this method:

https://github.com/holoviz/panel/blob/0627261f254b7eb0a015639ce06b1669f90b45a0/panel/pane/vtk/synchronizable_serializer.py#L1138-L1156

[2022-11-10 15:59] philippjfr commented on #3576
Would be very happy to accept a PR. Unfortunately I personally do not have the bandwidth (or expertise) to really maintain the VTK components in Panel and @xavArtley also has limited time these days. I'm aiming to spend some time to fix the most critical issues in the near future (including maybe this one) and then move the panel components into a separate `panel-vtk` package.

[2022-11-11 03:54] RafaelLuz opened #3584 "Creating movies not working"
### Describe the bug, what's wrong, and what you expected.

After I started using python 3.10 with pyvista 0.37 my scripts to create mp4 movies stopped working. Not even the example in the documentation is running ([Create a MP4 Movie](https://docs.pyvista.org/examples/02-plot/movie.html) ) due to the same error. This is the stacktrace I got from both my script and the example:

[code]

Does anyon

[2022-11-11 04:07] banesullivan commented on #3584
I believe this is a duplicate of #3560

[2022-11-11 10:43] gbene commented on #3581
Ok so I found a way to fix it. By looking at the code and changing https://github.com/pyvista/pyvista/blob/7195d44217df23b1bd7640ff244cf9e0f73914fb/pyvista/plotting/plotting.py#L5250

[code]

with

[code]

Everything works as expected (unless the reported behavior was expected and not a bug).

Now when using:
[code]
This is the result:

![orbit](https://user-images.githubusercontent.com/40857804/2

[2022-11-11 19:03] MatthewFlamm opened #3587 "Expand `compute_cell_quality` options"
### Describe the feature you would like to be added.

This stems from the discussion: https://github.com/pyvista/pyvista/discussions/3568

`compute_cell_quality` in pyvista only supports a limited number of options.  We should expand the options with newer ones based on updates from vtk side.  Some of the options require using `SetQualityMeasure(int)` method of `vtkCellQuality`.  See https://githu

[2022-11-11 19:09] MatthewFlamm commented on #3587
https://github.com/pyvista/pyvista/discussions/3568#discussioncomment-4119952 suggests also supporting an integer for `quality_measure`, which would allow pyvista to support newer options without having to explicitly update the string options.

We could also consider an IntEnum which also allows string access.

[2022-11-14 20:40] beroda opened #3598 "Adding connectivity methods to DataSet"
### Describe the feature you would like to be added.

Following the work of @MatthewFlamm (https://github.com/pyvista/pyvista/pull/2897), I would like to go further and add more methods to **DataSet**  that will enable to access the vtk connectivity (read-only).

### Links to VTK Documentation, Examples, or Class Definitions.

I found these vtk examples/functions/ideas that could be interesting to

[2022-11-15 00:49] banesullivan commented on #3598
These would be a great addition - I too think that each of these would make sense to bind to the `DataSet` class but I want to make sure we really do our homework to make sure the implementations will work with all `DataSet` subtypes as most of the examples are given for `PolyData`.

A problem will likely arise when dealing with implicitly defined meshes like `vtkImageData`/`pyvista.UniformGrid` a

[2022-11-15 08:31] beroda commented on #3598
Yes, I completely agree with you @banesullivan.
I intended to test my implementations with various grid types, as opposed to most tests in **test_dataset.py** that relies on the **hexbeam** example (vtkUnstructuredGrid) only.

[2022-11-15 14:24] MatthewFlamm commented on #3598
As we collect more of these, we should consider having a cell and/or point class.  Otherwise, we will balloon the methods of our DataSets even farther.  An example would be something like:

[code]

Having said this, I think it is fine to add one by one as filters now, then we can deprecate later if we choose to move to the above framework.

[2022-11-15 16:14] #3445 closed

[2022-11-15 19:34] banesullivan commented on #2982
Closing as this is not something we can implement. Specifically for panel, they'd need to handle this when serializing the scene

[2022-11-15 19:34] #2982 closed

[2022-11-16 03:29] #838 closed

[2022-11-16 23:05] beroda commented on #3598
@MatthewFlamm Excellent idea, I think I will go towards that direction.
I started working on it [here](https://github.com/beroda/pyvista/tree/feat/add_connectivity_methods) but it is not ready for a PR yet (some implementations, docstrings and tests are missing).

[2022-11-17 02:36] mwtoews opened #3610 "Unexpected threshold behavior"
### Describe the bug, what's wrong, and what you expected.

I'm using simple structed grids of cells, and need to filter-out some "nodata" cells. To do this, I'm setting scalar values to the cell data, then using [threshold](https://docs.pyvista.org/api/core/_autosummary/pyvista.DataSetFilters.threshold.html) with the nodata value with `invert=True`. However, I'm getting confusing and inconsistent

[2022-11-17 06:22] banesullivan commented on #3610
Can confirm, and I am seeing quite a few inconsistent results with the threshold filter. So this is not a user error!

 For example `inverter=True/False` should produce two logical inverses for this mesh, but it doesn't:
<img width="624" alt="Screen Shot 2022-11-16 at 11 18 48 PM" src="https://user-images.githubusercontent.com/22067021/202371190-7dcd64df-1882-4876-b4c3-43fe614913a6.png">

Second,

[2022-11-17 09:43] mwtoews commented on #3610
Thanks for taking a closer look. I should have mentioned that I get the same behavior on linux using a similar conda-forge setup.

I've found that ranges like `[1, 1]` work as expected to filter on values == 1, but to filter on zero, it needs to span a very small range:
[code]
which also logs this message three times:

[2022-11-17 11:07] PBrockmann opened #3612 "Verbosity control"
### Describe the feature you would like to be added.

From a code that extrat edges, I get some messages coming from vtk.
vtkExtractEdges.cxx:435
-->
vtkLog(INFO, "Executing edge extractor: points are renumbered");

Is there a way to control this from pyvista ?

![image](https://user-images.githubusercontent.com/5402758/202430504-f1b187be-79b4-443f-98a3-138f40d39609.png)

[2022-11-17 11:58] lorinczszabolcs opened #3613 "Artifacts in ```compute_implicit_distance```"
### Describe the bug, what's wrong, and what you expected.

After using `compute_implicit_distance` the result contains artifacts. The distance values are in general correct, but there appears to be some kind of noise that I can't really comprehend where does it come from. The surface is triangulated and stripped.

### Steps to reproduce the bug.

[code]

Unfortunately can't reproduce it with e.g.

[2022-11-17 14:46] juergendreher opened #3615 "AttributeError: 'Plotter' object has no attribute '_scalar_bar_mappers'"
### Describe the bug, what's wrong, and what you expected.

Calling Plotter.update_scalar_bar_range(self, clim, name=None) with 'name' keyword produces:
[code]

It seems to be a tiny coding error in `plotting/plotting.py`. This fix (?) appears to work as intended:
[code]

### Steps to reproduce the bug.

Run
[code]

### System Information

[code]

### Screenshots

_No response_

[2022-11-17 16:46] banesullivan commented on #3615
Thanks for finding and reporting this! Indeed, the scalar bar mechanism were refactored into the `ScalarBars` class and `_scalar_bar_mappers` is a private method of that class. As far as I can tell, this is the only place outside of that class where it is accessed.

IMO, we should try to move the whole `update_scalar_bar_range` method to the `ScalarBars` class. Would you be up for contributing som

[2022-11-17 16:56] banesullivan commented on #3613
Can you share the `surf` surface that it is computing the distances from?

[2022-11-17 16:59] banesullivan commented on #3612
What version of VTK are you using? I think something changed in a more recent VTK where the logging verbosity was set to INFO-level

[2022-11-17 17:04] PBrockmann commented on #3612
The latest. 9.2.2

I have warnings not errors. So
[code]
does not work.
Not very important but just would be nice.

[2022-11-17 17:10] banesullivan commented on #3612
Did you do the other part with VTK to turn off VTK's output of these warnings and errors:

[code]

[2022-11-17 17:30] banesullivan commented on #3612
Huh. Yeah something has changed in VTK 9.2.2 where verbosity has increased and isn't being suppressed in the ways is used to be able to be. I will look into this.

[2022-11-17 17:40] banesullivan commented on #3612
This is fixable by:

[code]

[2022-11-17 17:43] banesullivan commented on #3612
The difference is what you are seeing from this filter is from the `vtkLogger` where as some other filters throw `vtkWarning`. `vtk.vtkLogger.SetStderrVerbosity(vtk.vtkLogger.VERBOSITY_OFF)` turns off all logging (what most people want) and `vtk.vtkObject.GlobalWarningDisplayOff()` turns off all errors and warnings

[2022-11-17 17:45] PBrockmann commented on #3612
Nice.
Great thanks.

[2022-11-17 17:45] #3612 closed

[2022-11-18 00:10] lorinczszabolcs commented on #3613
[Here](https://github.com/pyvista/pyvista/files/10036623/surf.zip) it is. Couldn't upload the .vtk file directly, needed to zip it.

[2022-11-18 00:31] #3613 closed

[2022-11-18 02:12] bibbygoodwin commented on #3560
I'm having the same issue. M1 Mac, Python 3.10, Pyvista version 0.37.0.

The weirdest thing is that the script was running fine. Then, despite having made no changes, I started getting the above error when calling `pl.update()`. It also seems to be a stochastic problem: sometimes I can render about 10 frames before this error occurs, sometimes just the first one.

[2022-11-18 22:46] juergendreher commented on #3615
Yes, I'd be happy to join, although I'm still new to pyvista.

[2022-11-19 10:54] zhuyeqing1982 opened #3623 "Is that a bug in 'project_points_to_plane' when Parameters setup 'normal=0,1,0'?"
### Describe the bug, what's wrong, and what you expected.

PolyDataFilters.project_points_to_plane, when Parameters setup 'normal=0,0,1' or 'normal=1,0,0', the plane image is OK. But when parameters setup 'normal=0,1,0', the plane image is broken,The problem may happen with cmap, it's seens ok without cmap. just like render error. thanks for help.
OS: Windows 10 64bit
Graphics: nvidia rtx 3090
dr

[2022-11-19 17:31] MatthewFlamm commented on #3623
It looks like in these examples there is only variation in color in the (0,1,0) direction.  When you project in that direction, it takes _all_ the points and projects them to a single plane. This means you have overlapping cells all with different coloring.  When projecting in the other directions the overlapping cells have consistent coloring.

I think you need to extract a non-overlapping surfac

[2022-11-20 14:50] Jimmy-KL opened #3625 "argument "name" in Plotter.update_scalar_bar_range(clim, name=None) is not working"
### Describe the bug, what's wrong, and what you expected.

If I give a value to the argument _name_ in Plotter.update_scalar_bar_range(clim, name=None), there will be an error message as follow ([API Reference](https://docs.pyvista.org/api/plotting/_autosummary/pyvista.Plotter.update_scalar_bar_range.html)):
AttributeError: 'Plotter' object has no attribute '_scalar_bar_mappers'

What I tried to

[2022-11-20 15:10] adeak commented on #3625
I first thought it was only an issue with how we raise an uninformative error. Since you plotted the mesh with `scalars='data2'` and no explicit title for the scalar bar, you can only try changing the limits with `name='data2'`. But this leads to the same error. I think due to a recent refactor the name of scalar bars might have detached from the title of the scalar bar. In any case I'll look into

[2022-11-20 19:21] AlexanderJuestel opened #3627 "Applying a texture changes the size of the mesh"
### Describe the bug, what's wrong, and what you expected.

When applying a texture (image of a seismic line), the cross section/mesh the image is supposed to be put on has shrunk.

### Steps to reproduce the bug.

[code]

### System Information

[code]

### Screenshots

Mesh without texture
![image](https://user-images.githubusercontent.com/45469915/202921459-2d52ee86-bd6b-4b92-ac8a-aed6b21324c3.

[2022-11-20 19:23] AlexanderJuestel commented on #3627
Here also the used mesh and the image
[Mesh.zip](https://github.com/pyvista/pyvista/files/10050505/Mesh.zip)

[2022-11-21 13:22] MariusCausemann opened #3632 "export_html with subplots duplicates view (pythreejs)"
### Describe the bug, what's wrong, and what you expected.

Hi,
when exporting a plotter with subplots to HTML and opening the HTML file with a browser, everything is duplicated:

### Steps to reproduce the bug.

[code]

### System Information

[code]

### Screenshots

![image](https://user-images.githubusercontent.com/25132217/203065408-fd0896a4-583f-4644-9f1b-9cf0e5fc7cfb.png)

[2022-11-21 17:03] akaszynski opened #3633 "Expose vtkEllipseArcSource"
### Describe the feature you would like to be added.

Let's expose `vtkEllipseArcSource`.

### Links to VTK Documentation, Examples, or Class Definitions.

https://vtk.org/doc/nightly/html/classvtkEllipseArcSource.html

### Pseudocode or Screenshots

[code]

[2022-11-21 19:53] #3188 closed

[2022-11-21 20:36] #1586 closed

[2022-11-21 23:00] TasminSarkany opened #3635 "ImportError: DLL load failed while importing vtkPythonContext2D: The specified module could not be found."
### Describe the bug, what's wrong, and what you expected.

I have installed pyvista using conda. However when I try and import it into a Jupyter notebook I receive the error "ImportError: DLL load failed while importing vtkPythonContext2D: The specified module could not be found." I have also tried installing pyvista using pip (after uninstalling the conda version) but when I try to import it the

[2022-11-22 10:41] dcbr commented on #3635
Some issues with this import have also been reported in #3224 and I was going to address this in #2868. I'll try to wrap up that PR asap, sorry for the delay and inconvenience.
Are you using a custom built VTK package? Otherwise upgrading VTK through pip (or conda) could also resolve the import error I believe.

[2022-11-22 15:45] eudoxos opened #3639 "Exception with 0-d np.array dataset attribute"
I am getting exception when attribute being added to the dataset is a 0-d np.array (such as in `A=np.array(1,np.int64)` where `A.ndim==0` and `A.shape==()`).

[code]

https://github.com/pyvista/pyvista/blob/728a71f501beaa83296395cf1450733ac895ac2d/pyvista/core/datasetattributes.py#L745

I can fix it in my code, but since pyvista is doing some input validation, this could also be covered, especiall

[2022-11-23 16:36] TasminSarkany commented on #3635
That worked - thanks a lot!

[2022-11-23 16:36] #3635 closed

[2022-11-24 10:36] eudoxos commented on #3639
I checked better and it is a regression introduced [here](https://github.com/pyvista/pyvista/pull/2754/files#diff-f428ec576e878755950fff9ff1ba8b794a6085ec4e6c2e9a54fdb3666ba72e155) (PR #2754), this is the current offending line:

https://github.com/pyvista/pyvista/blob/3616866543079780cfb59c44834fe71918bf1fd8/pyvista/core/datasetattributes.py#L738

Thus any scalar (such as `int`, as in my case) wo

[2022-11-25 01:53] ArioYD commented on #2459
Did you find a solution on how to select an elements in pyvista flask using mouse (i.e. a  line or an area) and change its property interactively?

[2022-11-25 12:13] harrymatthews50 opened #3647 "Enabling/disabling renderer modifies the appearance of a second actor"
### Describe the bug, what's wrong, and what you expected.

I am trying to enable/disable interacting with a pyvista.renderer by means of a callback function. This works fine when only one actor is present in the scene. However when there are two actors present disabling an re-enabling the renderer (by pressing 's' twice) makes the second actor revert to its default apperance. E.g. in the example

[2022-11-25 22:40] adeak commented on #3647
Thanks for the report!

It turns out that the issue remains if you replace the callback with a no-op, and the issue goes away if you use key `'a'` instead of key `'s'`.

Apparently [`Plotter()` has a default keybinding for key `'s'`](https://docs.pyvista.org/api/plotting/plotting.html):

So this default is interfering with your keybinding.

The annoying bit is that explicitly calling `P.reset_key_

[2022-11-27 21:11] adeak commented on #3639
Thanks for the report, and for looking into it. This is definitely a bug.

There are other weird things going on there:
https://github.com/pyvista/pyvista/blob/cc63b7d33f4f1ffb87c05a640cec4688d0f7a2ff/pyvista/core/datasetattributes.py#L746-L750

This seems to assume that scalars are floats. Even though field data can even be an array of strings, even according to [our own docs](https://docs.pyvist

[2022-11-27 21:41] adeak commented on #3639
I'm starting to think that we should skip `_prepare_array()/_patch_type()` etc. altogether for field data, because some other things it should be doing doesn't work:
[code]
And we probably want to have very few requirements for field data.

[2022-11-27 21:59] adeak opened #3653 "pyvista_ndarray broken for size 1"
I don't yet understand why, but size-1 `pyvista_ndarray`s break on certain methods:
[code]

This is not an issue for 2 or more values in the array:
[code]

And the method works fine for reduction operations such as `.sum()`, returning a numpy scalar instead of a numpy array. It's somehow `squeeze()` expecting to return a 0d array but returning a numpy scalar which is off.

[2022-11-27 21:59] adeak commented on #3639
OK, the error in my previous comment is an unrelated issue, see https://github.com/pyvista/pyvista/issues/3653...

[2022-11-29 23:37] adeak commented on #3627
Here's what the image looks like in my image viewer:

![screenshot of image viewer software, showing a checkerboard "transparency" pattern at the top and bottom of the texture image](https://user-images.githubusercontent.com/17914410/204671908-408a0baa-1f93-4b72-a9a7-813b80c18060.png)

Note the checkerboard strips at the top and bottom. Isn't it just that your image has transparent parts, and thos

[2022-11-30 22:39] beroda opened #3663 "Cannot build documentation locally"
### Describe the bug, what's wrong, and what you expected.

Trying to build the doc locally following the instructions on the **README** file with:
[code]
I end up with the following error:

![image](https://user-images.githubusercontent.com/117822458/204923088-70386ab9-d249-4f85-8908-08a8e97519f6.png)
 I tried python3.8 and python 3.9  unsucessfully.

It is weird because I **can** find the `chart